/* line 1, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 425px;
}

/* line 10, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__avatar-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 107px;
  margin: 0;
  font-weight: normal;
  border: 1px solid #babec8;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 26, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__avatar-input {
  display: none !important;
}

/* line 30, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__avatar-text {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  font-size: 12px;
}

/* line 39, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.is-with-avatar .add-name__avatar-text {
  display: none;
}

/* line 43, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__avatar-text:before {
  content: "";
  position: absolute;
  top: 12px;
  left: calc(50% - 12px);
  display: block;
  width: 25px;
  height: 1px;
  background-color: #182849;
}

/* line 54, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__avatar-text:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  display: block;
  width: 1px;
  height: 25px;
  background-color: #182849;
}

/* line 65, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__names-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* line 74, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
.add-name__names-label {
  width: calc(50% - 10px);
  max-width: 200px;
  margin: 0;
}

@media (max-width: 650px) {
  /* line 81, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
  .add-name__wrapper {
    position: relative;
    width: 100%;
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ffffff;
  }

  /* line 90, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
  .add-name__names-wrapper {
    justify-content: space-around;
  }

  /* line 94, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_name.scss */
  .add-name__avatar-label {
    width: 90px;
    height: 90px;
  }
}
