/* line 1, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 575px;
}

/* line 10, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__content-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* line 16, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__content-cont > * {
  margin-bottom: 20px;
}

/* line 20, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__langs-row,
.add-skill__qualification-row {
  display: flex;
  width: 100%;
}

/* line 26, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-lang-select {
  flex-grow: 2;
}

/* line 30, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__langs-devider {
  flex-shrink: 0;
  width: 55px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjIycHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMjIgOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy42LjEgKDI2MzEzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5BcnJvd3NfZ3JlZW5faWNvPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IkJ1eWVyIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgIDxnIGlkPSJEYXNoYm9hcmRfd2l0aF9tZXNzYWdlcyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM0NC4wMDAwMDAsIC02MjcuMDAwMDAwKSIgc3Ryb2tlPSIjMzhFNEFFIj4KICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwMC4wMDAwMDAsIDI2Ny4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuMDAwMDAwLCAzNTMuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLUNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQuMDAwMDAwLCAwLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iQXJyb3dzX2dyZWVuX2ljbyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAuMDAwMDAwLCA3LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEuMzAzMywzLjk0NjcgTDIwLjUwNTE5NjcsMy45NDY3IiBpZD0iU3Ryb2tlLTEiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNy44ODU5LDAuMzkzNCBMMjEuNDM4OSwzLjk0NjQgTDE3Ljg4NTksNy41MDA0IiBpZD0iU3Ryb2tlLTMiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjA1MzMsNy41IEwwLjUwMDMsMy45NDcgTDQuMDUzMywwLjM5MyIgaWQ9IlN0cm9rZS01Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-size: 18px 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 39, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__prices-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

/* line 46, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__prices-text {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

/* line 55, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__prices-note {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 12px;
  text-align: center;
}

/* line 63, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__prices-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

/* line 71, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.skiwo-input.add-skill__one-price-input {
  width: 110px;
  margin-bottom: 0;
  padding: 0 10px;
  text-align: right;
}

/* line 78, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price {
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-weight: normal;
  margin-bottom: 0;
  min-height: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* line 90, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price--video {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjUycHgiIGhlaWdodD0iNTJweCIgdmlld0JveD0iMCAwIDUyIDUyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjguMyAoMjk4MDIpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwIDU8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iSW50ZXJwcmV0ZXIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQcm9maWxlLXBhZ2UtZW1wdHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzkuMDAwMDAwLCAtMTk5LjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJHcm91cC01IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NDAuMDAwMDAwLCAyMDAuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMjUsNTAgQzM4LjgwNzExODcsNTAgNTAsMzguODA3MTE4NyA1MCwyNSBDNTAsMTEuMTkyODgxMyAzOC44MDcxMTg3LDAgMjUsMCBDMTEuMTkyODgxMywwIDAsMTEuMTkyODgxMyAwLDI1IEMwLDM4LjgwNzExODcgMTEuMTkyODgxMyw1MCAyNSw1MCBaIiBpZD0iT3ZhbC0zMyI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPGcgaWQ9IlBhZ2UtMS1Db3B5LTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyLjAwMDAwMCwgMTguMDAwMDAwKSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTYuNDU3MDk2NCwxNC4yNDk0NzkyIEwyLjc1Mzk3MTM1LDE0LjI0OTQ3OTIgQzEuMjQwMjk5NDgsMTQuMjQ5NDc5MiAwLjAxMzA4NTkzNzUsMTMuMDIyMjY1NiAwLjAxMzA4NTkzNzUsMTEuNTA3OTQyNyBMMC4wMTMwODU5Mzc1LDMuMzA4NzIzOTYgQzAuMDEzMDg1OTM3NSwxLjc5NTA1MjA4IDEuMjQwMjk5NDgsMC41Njc4Mzg1NDIgMi43NTM5NzEzNSwwLjU2NzgzODU0MiBMMTYuNDU3MDk2NCwwLjU2NzgzODU0MiBDMTcuOTcwNzY4MiwwLjU2NzgzODU0MiAxOS4xOTg2MzI4LDEuNzk1MDUyMDggMTkuMTk4NjMyOCwzLjMwODcyMzk2IEwxOS4xOTg2MzI4LDExLjUwNzk0MjcgQzE5LjE5ODYzMjgsMTMuMDIyMjY1NiAxNy45NzA3NjgyLDE0LjI0OTQ3OTIgMTYuNDU3MDk2NCwxNC4yNDk0NzkyIEwxNi40NTcwOTY0LDE0LjI0OTQ3OTIgWiIgaWQ9IlN0cm9rZS0xIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlN0cm9rZS0zIiBwb2ludHM9IjI2Ljg1NzA5NjQgMC4wMTMwMjA4MzMzIDIxLjUzNTQ4MTggNS40NjI4OTA2MiAyMS41MzU0ODE4IDkuMzU0ODE3NzEgMjYuODU3MDk2NCAxNC44MDQwMzY1Ij48L3BvbHlnb24%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
}

/* line 94, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price--phone {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjUycHgiIGhlaWdodD0iNTJweCIgdmlld0JveD0iMCAwIDUyIDUyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjguMyAoMjk4MDIpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwIDg8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iSW50ZXJwcmV0ZXIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQcm9maWxlLXBhZ2UtZW1wdHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzkuMDAwMDAwLCAtMzgxLjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJHcm91cC04IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NDAuMDAwMDAwLCAzODIuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMzLUNvcHktMiIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ij48L2NpcmNsZT4KICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC00IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yNC4xNjUsMjEuNzI1IEMyNC4zNTg5NjU1LDIxLjUzMDE3MjQgMjQuMzU4OTY1NSwyMS4yMTU1MTcyIDI0LjE2NSwyMS4wMjI0MTM4IEwxOS45MTE1NTE3LDE2Ljc3NjcyNDEgQzE5LjcxNjcyNDEsMTYuNTgxODk2NiAxOS40MDIwNjksMTYuNTgxODk2NiAxOS4yMDcyNDE0LDE2Ljc3NjcyNDEgTDE2LjA1MjkzMSwxOS45MjUgQzE1LjUzMDUxNzIsMjAuNDQ1Njg5NyAxNC42ODQ4Mjc2LDIwLjQ0NTY4OTcgMTQuMTYzMjc1OSwxOS45MjUgTDUuMzE4NDQ4MjgsMTEuMDk0ODI3NiBDNC43OTYwMzQ0OCwxMC41NzQxMzc5IDQuNzk2MDM0NDgsOS43MjkzMTAzNCA1LjMxODQ0ODI4LDkuMjA3NzU4NjIgTDguNDI5NjU1MTcsNi4wMTYzNzkzMSBDOC42MjM2MjA2OSw1LjgyMjQxMzc5IDguNjIzNjIwNjksNS41MDY4OTY1NSA4LjQyOTY1NTE3LDUuMzEzNzkzMSBMNC4xNzYyMDY5LDEuMDY4MTAzNDUgQzMuOTgyMjQxMzgsMC44NzMyNzU4NjIgMy42NjY3MjQxNCwwLjg3MzI3NTg2MiAzLjQ3Mjc1ODYyLDEuMDY4MTAzNDUgTDEuMDczNjIwNjksMy42NTA4NjIwNyBDLTAuNzk5NjU1MTcyLDkuMDAyNTg2MjEgMS41MDQ2NTUxNywxMi44OTU2ODk3IDYuOTMyMjQxMzgsMTguMzE0NjU1MiBDMTIuMzU4OTY1NSwyMy43MzE4OTY2IDE2LjI1OTgyNzYsMjYuMDMxODk2NiAyMS42MjEwMzQ1LDI0LjE2MjA2OSBMMjQuMTY1LDIxLjcyNSBMMjQuMTY1LDIxLjcyNSBaIiBpZD0iU3Ryb2tlLTEiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMi4wNDI4NDQ4MywyLjcyNjgxMDM0IEw2LjkyOTA1MTcyLDcuNjEzMDE3MjQiIGlkPSJTdHJva2UtMyI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNy43MTQxMzc5LDE4LjM5ODE4OTcgTDIyLjYwMDM0NDgsMjMuMjg0Mzk2NiIgaWQ9IlN0cm9rZS01Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEzLjAyOTM5NjYsMy43Nzk4Mjc1OSBDMTguMDc4NTM0NSwzLjc3OTgyNzU5IDIyLjE3MjUsNy44NzI5MzEwMyAyMi4xNzI1LDEyLjkyMjkzMSIgaWQ9IlN0cm9rZS03IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTIuNTUwOTQ4MywwLjQzMTAzNDQ4MyBDMTkuNzEzODc5MywwLjQzMTAzNDQ4MyAyNS41MjA3NzU5LDYuMjM3OTMxMDMgMjUuNTIwNzc1OSwxMy40MDA4NjIxIiBpZD0iU3Ryb2tlLTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
}

/* line 99, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price--in-person {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjUycHgiIGhlaWdodD0iNTJweCIgdmlld0JveD0iMCAwIDUyIDUyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjguMyAoMjk4MDIpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwIDM8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iSW50ZXJwcmV0ZXIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQcm9maWxlLXBhZ2UtZW1wdHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzkuMDAwMDAwLCAtMjYwLjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NDAuMDAwMDAwLCAyNjEuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMzLUNvcHkiIGN4PSIyNSIgY3k9IjI1IiByPSIyNSI%2BPC9jaXJjbGU%2BCiAgICAgICAgICAgICAgICA8ZyBpZD0iUGFnZS0xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEzLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik05LjA4MDQzMTAzLDI0LjU2ODk2NTUgQzguOTI5NTY4OTcsMjQuNTY4OTY1NSA4Ljc3ODcwNjksMjQuNTE4OTY1NSA4LjY3Nzg0NDgzLDI0LjM2ODEwMzQgQzguMzI2MTIwNjksMjMuOTE1NTE3MiAwLjQzMTI5MzEwMywxMy42NTY4OTY2IDAuNDMxMjkzMTAzLDkuMDgwMTcyNDEgQzAuNDMxMjkzMTAzLDQuMzAzNDQ4MjggNC4zMDI4NDQ4MywwLjQzMTAzNDQ4MyA5LjA4MDQzMTAzLDAuNDMxMDM0NDgzIEMxMy44NTgwMTcyLDAuNDMxMDM0NDgzIDE3LjcyOTU2OSw0LjMwMzQ0ODI4IDE3LjcyOTU2OSw5LjA4MDE3MjQxIEMxNy43Mjk1NjksMTMuNjU2ODk2NiA5LjgzNDc0MTM4LDIzLjkxNTUxNzIgOS40ODMwMTcyNCwyNC4zNjgxMDM0IEM5LjM4MjE1NTE3LDI0LjUxODk2NTUgOS4yMzEyOTMxLDI0LjU2ODk2NTUgOS4wODA0MzEwMywyNC41Njg5NjU1IEw5LjA4MDQzMTAzLDI0LjU2ODk2NTUgWiIgaWQ9IlN0cm9rZS0xIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTkuMDgwNDMxMDMsMTMuNjU2NjM3OSBDNi41NjU3NzU4NiwxMy42NTY2Mzc5IDQuNTA0NTY4OTcsMTEuNTk0NTY5IDQuNTA0NTY4OTcsOS4wODA3NzU4NiBDNC41MDQ1Njg5Nyw2LjU2NjEyMDY5IDYuNTY1Nzc1ODYsNC41MDQwNTE3MiA5LjA4MDQzMTAzLDQuNTA0MDUxNzIgQzExLjU5NTA4NjIsNC41MDQwNTE3MiAxMy42NTYyOTMxLDYuNTY2MTIwNjkgMTMuNjU2MjkzMSw5LjA4MDc3NTg2IEMxMy42NTYyOTMxLDExLjU5NDU2OSAxMS41OTUwODYyLDEzLjY1NjYzNzkgOS4wODA0MzEwMywxMy42NTY2Mzc5IEw5LjA4MDQzMTAzLDEzLjY1NjYzNzkgWiIgaWQ9IlN0cm9rZS0zIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
}

/* line 104, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price--hub {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjUycHgiIGhlaWdodD0iNTJweCIgdmlld0JveD0iMCAwIDUyIDUyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjguMyAoMjk4MDIpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwIDY8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iSW50ZXJwcmV0ZXIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQcm9maWxlLXBhZ2UtZW1wdHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzkuMDAwMDAwLCAtMzIwLjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJHcm91cC02IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NDAuMDAwMDAwLCAzMjEuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMzLUNvcHktMyIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ij48L2NpcmNsZT4KICAgICAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE3LjAwMDAwMCwgMTMuMDAwMDAwKSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlN0cm9rZS0xIiBwb2ludHM9IjE1LjcyMzg4ODkgOC43MTg2ODA1NiAxNS43MjM4ODg5IDI0LjcyMjg0NzIgMC4zNDc1IDI0LjcyMjg0NzIgMC4zNDc1IDAuMzQ3MTUyNzc4IDE1LjcyMzg4ODkgMC4zNDcxNTI3NzggMTUuNzIzODg4OSA1LjE4MzI2Mzg5Ij48L3BvbHlsaW5lPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOS43NTYxODA2LDUuMTgzMDU1NTYgTDEwLjU1NTQ4NjEsNS4xODMwNTU1NiBDOS45NzAwNjk0NCw0LjI2NSA4Ljk0ODU0MTY3LDMuNjUyNSA3Ljc3OTA5NzIyLDMuNjUyNSBDNS45NTY4NzUsMy42NTI1IDQuNDgwNDg2MTEsNS4xMjg4ODg4OSA0LjQ4MDQ4NjExLDYuOTUxMTExMTEgQzQuNDgwNDg2MTEsOC43NzI2Mzg4OSA1Ljk1Njg3NSwxMC4yNDk3MjIyIDcuNzc5MDk3MjIsMTAuMjQ5NzIyMiBDOC45NDg1NDE2NywxMC4yNDk3MjIyIDkuOTcwMDY5NDQsOS42MzY1Mjc3OCAxMC41NTU0ODYxLDguNzE4NDcyMjIgTDE5Ljc1NjE4MDYsOC43MTg0NzIyMiBDMjAuNzMyNTY5NCw4LjcxODQ3MjIyIDIxLjUyNDIzNjEsNy45Mjc1IDIxLjUyNDIzNjEsNi45NTExMTExMSBDMjEuNTI0MjM2MSw1Ljk3NDcyMjIyIDIwLjczMjU2OTQsNS4xODMwNTU1NiAxOS43NTYxODA2LDUuMTgzMDU1NTYgTDE5Ljc1NjE4MDYsNS4xODMwNTU1NiBaIiBpZD0iU3Ryb2tlLTMiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNOC44NjA3NjM4OSwyMS4wNDM4ODg5IEw4Ljg2MDc2Mzg5LDE3LjcyMTY2NjcgQzkuMjg5MjM2MTEsMTcuNDQ4NzUgOS41NzUzNDcyMiwxNi45NzE2NjY3IDkuNTc1MzQ3MjIsMTYuNDI1ODMzMyBDOS41NzUzNDcyMiwxNS41NzUxMzg5IDguODg1NzYzODksMTQuODg2MjUgOC4wMzU3NjM4OSwxNC44ODYyNSBDNy4xODUwNjk0NCwxNC44ODYyNSA2LjQ5NjE4MDU2LDE1LjU3NTEzODkgNi40OTYxODA1NiwxNi40MjU4MzMzIEM2LjQ5NjE4MDU2LDE2Ljk3MTY2NjcgNi43ODE1OTcyMiwxNy40NDg3NSA3LjIxMDA2OTQ0LDE3LjcyMTY2NjcgTDcuMjEwMDY5NDQsMjEuMDQzODg4OSBDNy4yMTAwNjk0NCwyMS40OTk0NDQ0IDcuNTc5NTEzODksMjEuODY4ODg4OSA4LjAzNTc2Mzg5LDIxLjg2ODg4ODkgQzguNDkxMzE5NDQsMjEuODY4ODg4OSA4Ljg2MDc2Mzg5LDIxLjQ5OTQ0NDQgOC44NjA3NjM4OSwyMS4wNDM4ODg5IEw4Ljg2MDc2Mzg5LDIxLjA0Mzg4ODkgWiIgaWQ9IlN0cm9rZS01Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
}

/* line 109, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price:first-of-type {
  margin-bottom: 10px;
}

/* line 113, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price-type-cont {
  align-self: center;
  display: block;
  padding-left: 5px;
}

/* line 119, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price-type {
  margin: 0;
  font-size: 10px;
}

/* line 124, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__one-price-currency {
  margin: 0;
  font-size: 18px;
}

/* line 129, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
.add-skill__add-new-btn-cont {
  width: 100%;
  font-weight: normal;
}

@media (max-width: 650px) {
  /* line 135, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__wrapper {
    position: relative;
    width: 100%;
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ffffff;
  }

  /* line 144, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__content-cont {
    padding: 0 10px;
  }

  /* line 148, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__langs-row {
    flex-wrap: wrap;
  }

  /* line 152, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__one-lang-select {
    width: 100%;
  }

  /* line 156, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__langs-devider {
    width: 100%;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjEwcHgiIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDEwIDE4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzOS4xICgzMTcyMCkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0%2BCiAgICA8dGl0bGU%2BQXJyb3dzX2ljbyBDb3B5IDI8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iU2lnbnVwL09uYm9hcmRpbmciIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BCiAgICAgICAgPGcgaWQ9Ii0tTW9iaWxlLWludGVycHJldGVyLXNraWxsIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTY5LjAwMDAwMCwgLTE4Ny4wMDAwMDApIiBzdHJva2U9IiMzOEU0QUUiPgogICAgICAgICAgICA8ZyBpZD0iQXJyb3dzX2ljby1Db3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE3NC4wMDAwMDAsIDE5Ni4wMDAwMDApIHJvdGF0ZSgtMjcwLjAwMDAwMCkgdHJhbnNsYXRlKC0xNzQuMDAwMDAwLCAtMTk2LjAwMDAwMCkgdHJhbnNsYXRlKDE2NS4wMDAwMDAsIDE5Mi4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xLjUwNDg0MTI0LDMuOTQ2NyBMMTYuNTA0ODQxMiwzLjk0NjciIGlkPSJTdHJva2UtMSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTdHJva2UtMyIgcG9pbnRzPSIxMy42NTE3NjA4IDAuMzkzNCAxNy43NTQxOTM4IDMuOTQ2NCAxMy42NTE3NjA4IDcuNTAwNCI%2BPC9wb2x5bGluZT4KICAgICAgICAgICAgICAgIDxwb2x5bGluZSBpZD0iU3Ryb2tlLTUiIHBvaW50cz0iNC42ODAwOTg5NyA3LjUgMC41Nzc2NjU5NzkgMy45NDcgNC42ODAwOTg5NyAwLjM5MyI%2BPC9wb2x5bGluZT4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc%2B);
    background-repeat: no-repeat;
    background-size: 8px 18px;
    background-position: 50% 50%;
  }

  /* line 165, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__prices-half:first-of-type {
    margin-bottom: 10px;
  }

  /* line 169, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/add_skill.scss */
  .add-skill__prices-cont {
    justify-content: flex-start;
    padding-left: calc(50% - 115px);
  }
}
