/*=============================
    ASSIGNMENT CHAT JOB DESCRIPTION
===============================*/
/* line 6, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-main-cont {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0 30px;
  color: #182849;
}

/* line 14, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  width: 100%;
}

/* line 22, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 17px 0;
  border-bottom: 1px solid #ebebeb;
}

/* line 30, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 55px;
}

/* line 37, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 55px;
}

/* line 46, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.quarter-section {
  width: 25%;
}

/* line 50, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.chat-languages-section:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjMxcHgiIGhlaWdodD0iMjZweCIgdmlld0JveD0iMCAwIDMxIDI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMSBDb3B5PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IkJ1c2luZXNzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiPgogICAgICAgIDxnIGlkPSJBc3NpZ25tZW50cyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTkuMDAwMDAwLCAtNDA2LjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEtQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuMDAwMDAwLCA0MDYuMTQyNjY4KSI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTcuMDk3NTgwNiw2LjcwNTQ4Mzg3IEwxNy4wODg3MDk3LDIuNDk3NDE5MzUgQzE3LjA4NzA5NjgsMS4zMzkzNTQ4NCAxNi4xNDU5Njc3LDAuNDAxNDUxNjEzIDE0Ljk4NzkwMzIsMC40MDMwNjQ1MTYgTDIuNDk3NTgwNjUsMC40MjY0NTE2MTMgQzEuMzM4NzA5NjgsMC40MjgwNjQ1MTYgMC40MDE2MTI5MDMsMS4zNjkxOTM1NSAwLjQwMzIyNTgwNiwyLjUyNzI1ODA2IEwwLjQxNjEyOTAzMiwxMC41OTU4MDY1IEMwLjQxODU0ODM4NywxMS43NTQ2Nzc0IDEuMzU4ODcwOTcsMTIuNjkyNTgwNiAyLjUxNzc0MTk0LDEyLjY5MDE2MTMgTDMuMjk1OTY3NzQsMTIuNjg5MzU0OCBMMy4zMDE2MTI5LDE1Ljk2ODM4NzEgQzMuMzAyNDE5MzUsMTYuNDExOTM1NSAzLjgxOTM1NDg0LDE2LjY1NDY3NzQgNC4xNjEyOTAzMiwxNi4zNzA4MDY1IEw4LjYwNDgzODcxLDEyLjY4MDQ4MzkgTDEwLjI5Mjc0MTksMTIuNjczMjI1OCIgaWQ9IlN0cm9rZS0xIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMjcuMjIzMjI1OCw4LjcxMDY0NTE2IEMyOC4zODIwOTY4LDguNzA5MDMyMjYgMjkuMzIyNDE5NCw5LjY0NjEyOTAzIDI5LjMyNDAzMjMsMTAuODA1IEwyOS4zMzc3NDE5LDE4Ljg3MzU0ODQgQzI5LjMzOTM1NDgsMjAuMDMyNDE5NCAyOC40MDE0NTE2LDIwLjk3Mjc0MTkgMjcuMjQzMzg3MSwyMC45NzUxNjEzIEwyNi40NjQzNTQ4LDIwLjk3NTk2NzcgTDI2LjQ3LDI0LjI1NTgwNjUgQzI2LjQ3MDgwNjUsMjQuNjk5MzU0OCAyNS45NTM4NzEsMjQuOTQyOTAzMiAyNS42MTExMjksMjQuNjYwNjQ1MiBMMjEuMTU2MjkwMywyMC45ODQ4Mzg3IEwxNC42NjkxOTM1LDIwLjk5Nzc0MTkgQzEzLjUxMDMyMjYsMjEuMDAwMTYxMyAxMi41NywyMC4wNjIyNTgxIDEyLjU2NzU4MDYsMTguOTAzMzg3MSBMMTIuNTU0Njc3NCwxMC44MzQ4Mzg3IEMxMi41NTMwNjQ1LDkuNjc1OTY3NzQgMTMuNDkwOTY3Nyw4LjczNTY0NTE2IDE0LjY0OTAzMjMsOC43MzQwMzIyNiBMMjcuMjIzMjI1OCw4LjcxMDY0NTE2IEwyNy4yMjMyMjU4LDguNzEwNjQ1MTYgWiIgaWQ9IlN0cm9rZS0zIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlN0cm9rZS01IiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBwb2ludHM9IjcuMTI1NDgzODcgOS41MTc2NjEyOSA5LjIzMTEyOTAzIDMuMzMyMTc3NDIgMTEuMzQwODA2NSA5LjUxNzY2MTI5Ij48L3BvbHlsaW5lPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTEwLjQ5NzgyMjYsNy40MzkwMzIyNiBMNy45NzM2MjkwMyw3LjQzOTAzMjI2IiBpZD0iU3Ryb2tlLTciIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOC40MDY2MTI5LDE3LjUzNjkzNTUgQzIyLjI0NDUxNjEsMTUuOTI4ODcxIDIyLjg3NDM1NDgsMTMuMDIyNDE5NCAyMi44NzQzNTQ4LDEzLjAyMjQxOTQiIGlkPSJTdHJva2UtOSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTE5LjE5MjgyMjYsMTQuMDYyNDE5NCBDMjAuMjAyNSwxNS40ODI1ODA2IDIxLjA5NjA0ODQsMTYuNTY3MjU4MSAyMy40MzE1MzIzLDE3LjUzNjYxMjkiIGlkPSJTdHJva2UtMTEiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNy45ODMzODcxLDEyLjU3NTQ4MzkgTDIzLjkwOTE5MzUsMTIuNTc1NDgzOSIgaWQ9IlN0cm9rZS0xMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTIwLjk0NjEyOSwxMi41NzU0ODM5IEwyMC45NDYxMjksMTEuMTM0MzU0OCIgaWQ9IlN0cm9rZS0xNSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 30px 25px;
}

/* line 58, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.chat-qualification-section:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjIxcHgiIGhlaWdodD0iMjZweCIgdmlld0JveD0iMCAwIDIxIDI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMTwvdGl0bGU%2BCiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJCdXNpbmVzcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0ibW9iaWxlX2ZpbmQtYW4taW50ZXJwcmV0ZXIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNS4wMDAwMDAsIC02MTcuMDAwMDAwKSIgc3Ryb2tlPSIjMzhFNEFFIj4KICAgICAgICAgICAgPGcgaWQ9IlBhZ2UtMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjYuMDAwMDAwLCA2MTguMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlN0cm9rZS0xIiBwb2ludHM9IjEzLjI1Njk5MyAxNy4wNDk4Mjc2IDEzLjI1Njk5MyAyNC4zMjIyNDE0IDkuNzc5NzIwMjggMjIuMTEyNzU4NiA2LjQ1NzE2NzgzIDI0LjMyMjI0MTQgNi40NTcxNjc4MyAxNy4wNDk4Mjc2Ij48L3BvbHlsaW5lPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTExLjQzMTczMDgsMS4xNDc1IEwxMS45MTUxMjI0LDEuNjA2MTIwNjkgQzEyLjM4NzE1MDMsMi4wNTQzOTY1NSAxMy4wMTMwMjQ1LDIuMzA5NTY4OTcgMTMuNjY4NjE4OSwyLjMyMjUgTDE0LjMzOTA3MzQsMi4zMzU0MzEwMyBDMTUuNzM1OTI2NiwyLjM2MjE1NTE3IDE2Ljg2MjY3NDgsMy40NzI1IDE2Ljg4OTc3MjcsNC44NTAwODYyMSBMMTYuOTAyMDEwNSw1LjUxMjE1NTE3IEMxNi45MTUxMjI0LDYuMTU3ODQ0ODMgMTcuMTc0NzM3OCw2Ljc3NTA4NjIxIDE3LjYyODQwOTEsNy4yNDA2MDM0NSBMMTguMDkzNDQ0MSw3LjcxNzMyNzU5IEMxOS4wNjE5NzU1LDguNzEwNDMxMDMgMTkuMDYxOTc1NSwxMC4yODExMjA3IDE4LjA5MzQ0NDEsMTEuMjc0MjI0MSBMMTcuNjI4NDA5MSwxMS43NTA5NDgzIEMxNy4xNzQ3Mzc4LDEyLjIxNjQ2NTUgMTYuOTE1MTIyNCwxMi44MzM3MDY5IDE2LjkwMjAxMDUsMTMuNDc5Mzk2NiBMMTYuODg5NzcyNywxNC4xNDE0NjU1IEMxNi44NjI2NzQ4LDE1LjUxOTA1MTcgMTUuNzM1OTI2NiwxNi42MjkzOTY2IDE0LjMzOTA3MzQsMTYuNjU2MTIwNyBMMTMuNjY4NjE4OSwxNi42NjkwNTE3IEMxMy4wMTMwMjQ1LDE2LjY4MTk4MjggMTIuMzg3MTUwMywxNi45MzcxNTUyIDExLjkxNTEyMjQsMTcuMzg1NDMxIEwxMS40MzE3MzA4LDE3Ljg0NDA1MTcgQzEwLjQyNDczNzgsMTguNzk5MjI0MSA4LjgzMjA4MDQyLDE4Ljc5OTIyNDEgNy44MjUwODc0MSwxNy44NDQwNTE3IEw3LjM0MTY5NTgsMTcuMzg1NDMxIEM2Ljg2OTY2NzgzLDE2LjkzNzE1NTIgNi4yNDM3OTM3MSwxNi42ODE5ODI4IDUuNTg5MDczNDMsMTYuNjY5MDUxNyBMNC45MTc3NDQ3NiwxNi42NTYxMjA3IEMzLjUyMDg5MTYxLDE2LjYyOTM5NjYgMi4zOTUwMTc0OCwxNS41MTkwNTE3IDIuMzY3OTE5NTgsMTQuMTQxNDY1NSBMMi4zNTQ4MDc2OSwxMy40NzkzOTY2IEMyLjM0MjU2OTkzLDEyLjgzMzcwNjkgMi4wODI5NTQ1NSwxMi4yMTY0NjU1IDEuNjI5MjgzMjIsMTEuNzUwOTQ4MyBMMS4xNjMzNzQxMywxMS4yNzQyMjQxIEMwLjE5NDg0MjY1NywxMC4yODExMjA3IDAuMTk0ODQyNjU3LDguNzEwNDMxMDMgMS4xNjMzNzQxMyw3LjcxNzMyNzU5IEwxLjYyOTI4MzIyLDcuMjQwNjAzNDUgQzIuMDgyOTU0NTUsNi43NzUwODYyMSAyLjM0MjU2OTkzLDYuMTU3ODQ0ODMgMi4zNTQ4MDc2OSw1LjUxMjE1NTE3IEwyLjM2NzkxOTU4LDQuODUwMDg2MjEgQzIuMzk1MDE3NDgsMy40NzI1IDMuNTIwODkxNjEsMi4zNjIxNTUxNyA0LjkxNzc0NDc2LDIuMzM1NDMxMDMgTDUuNTg5MDczNDMsMi4zMjI1IEM2LjI0Mzc5MzcxLDIuMzA5NTY4OTcgNi44Njk2Njc4MywyLjA1NDM5NjU1IDcuMzQxNjk1OCwxLjYwNjEyMDY5IEw3LjgyNTA4NzQxLDEuMTQ3NSBDOC44MzIwODA0MiwwLjE5MjMyNzU4NiAxMC40MjQ3Mzc4LDAuMTkyMzI3NTg2IDExLjQzMTczMDgsMS4xNDc1IEwxMS40MzE3MzA4LDEuMTQ3NSBaIiBpZD0iU3Ryb2tlLTMiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc%2B);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 19px 25px;
}

/* line 65, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.chat-date-section:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjI5cHgiIGhlaWdodD0iMjZweCIgdmlld0JveD0iMCAwIDI5IDI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMSAoMjgyMTUpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkNhbGVuZGFyX2ljbyBDb3B5IDI8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI%2BCiAgICAgICAgPGcgaWQ9IkNhbGVuZGFyX2dyZWVuX3NpZGViYXJfaWNvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9IiMzOEU0QUUiPgogICAgICAgICAgICA8ZyBpZD0iQ2FsZW5kYXJfaWNvLUNvcHktMiI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNS43ODUxOTIzMSwwLjIyMTE4NjYgTDUuNzg1MTkyMzEsMC4yMjExODY2IEM1LjI1NDQyMzA4LDAuMjIxMTg2NiA0LjgyMzY1Mzg1LDAuNjQ2NDcyNDIzIDQuODIzNjUzODUsMS4xNzA0ODUzMSBMNC44MjM2NTM4NSw0LjI1NTcwNjEyIEM0LjgyMzY1Mzg1LDQuNzc5NzE5MDEgNS4yNTQ0MjMwOCw1LjIwNTAwNDg0IDUuNzg1MTkyMzEsNS4yMDUwMDQ4NCBMNS43ODUxOTIzMSw1LjIwNTAwNDg0IEM2LjMxNTk2MTU0LDUuMjA1MDA0ODQgNi43NDY3MzA3Nyw0Ljc3OTcxOTAxIDYuNzQ2NzMwNzcsNC4yNTU3MDYxMiBMNi43NDY3MzA3NywxLjE3MDQ4NTMxIEM2Ljc0NjczMDc3LDAuNjQ2NDcyNDIzIDYuMzE1OTYxNTQsMC4yMjExODY2IDUuNzg1MTkyMzEsMC4yMjExODY2IEw1Ljc4NTE5MjMxLDAuMjIxMTg2NiBaIiBpZD0iU3Ryb2tlLTEiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMS44NTkwMzg1LDAuMjIxMTg2NiBMMjEuODU5MDM4NSwwLjIyMTE4NjYgQzIxLjMyODI2OTIsMC4yMjExODY2IDIwLjg5NzUsMC42NDY0NzI0MjMgMjAuODk3NSwxLjE3MDQ4NTMxIEwyMC44OTc1LDQuMjU1NzA2MTIgQzIwLjg5NzUsNC43Nzk3MTkwMSAyMS4zMjgyNjkyLDUuMjA1MDA0ODQgMjEuODU5MDM4NSw1LjIwNTAwNDg0IEwyMS44NTkwMzg1LDUuMjA1MDA0ODQgQzIyLjM4OTgwNzcsNS4yMDUwMDQ4NCAyMi44MjA1NzY5LDQuNzc5NzE5MDEgMjIuODIwNTc2OSw0LjI1NTcwNjEyIEwyMi44MjA1NzY5LDEuMTcwNDg1MzEgQzIyLjgyMDU3NjksMC42NDY0NzI0MjMgMjIuMzg5ODA3NywwLjIyMTE4NjYgMjEuODU5MDM4NSwwLjIyMTE4NjYgTDIxLjg1OTAzODUsMC4yMjExODY2IFoiIGlkPSJTdHJva2UtMyI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTQuODU0OTAzODUsMi44NDc4OTYxNCBMMy4zNjU0ODA3NywyLjg0Nzg5NjE0IEMxLjc3MjIxMTU0LDIuODQ3ODk2MTQgMC40ODA4NjUzODUsNC4xMjI4MDQzMSAwLjQ4MDg2NTM4NSw1LjY5NTc5MjI3IEwwLjQ4MDg2NTM4NSwyMS4zNTkyMjEgQzAuNDgwODY1Mzg1LDIyLjkzMjIwOSAxLjc3MjIxMTU0LDI0LjIwNzExNzIgMy4zNjU0ODA3NywyNC4yMDcxMTcyIEwyMS45MzE4MjY5LDI0LjIwNzExNzIgQzIyLjU4MTgyNjksMjQuMjA3MTE3MiAyMy4xOTkxMzQ2LDIzLjkyNDIyNjEgMjMuNjE4MzY1NCwyMy40MzQzODggTDI2LjY0MDQ4MDgsMTkuOTA3NzQzMyBDMjYuOTc3OTgwOCwxOS41MTM3ODQzIDI3LjE2MzU1NzcsMTkuMDE0NDUzMiAyNy4xNjM1NTc3LDE4LjQ5ODk4NCBMMjcuMTYzNTU3Nyw1LjY5NTc5MjI3IEMyNy4xNjM1NTc3LDQuMTIyODA0MzEgMjUuODcyMjExNSwyLjg0Nzg5NjE0IDI0LjI3ODk0MjMsMi44NDc4OTYxNCBMMjIuNzQ1Mjg4NSwyLjg0Nzg5NjE0IiBpZD0iU3Ryb2tlLTUiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMC44NTY4MjY5LDIuODQ3ODk2MTQgTDYuODQzMzY1MzgsMi44NDc4OTYxNCIgaWQ9IlN0cm9rZS03Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMC4yNDAzODQ2MTUsNy4zMDkyMjAzNiBMMjcuMTYzNDYxNSw3LjMwOTIyMDM2IiBpZD0iU3Ryb2tlLTkiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yNi44MjIyMTE1LDE4Ljk0NjM4ODUgTDIzLjk5OTEzNDYsMTguOTQ2Mzg4NSBDMjMuMTE0NTE5MiwxOC45NDYzODg1IDIyLjM5ODE3MzEsMTkuNjUzNjE2IDIyLjM5ODE3MzEsMjAuNTI2OTcwOCBMMjIuMzk4MTczMSwyNC4wMDE0MDQxIiBpZD0iU3Ryb2tlLTExIj48L3BhdGg%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 28px 25px;
}

/* line 72, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.chat-time-section:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iMjZweCIgdmlld0JveD0iMCAwIDI2IDI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjYuMSAoMjYzMTMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlRpbWVfZ3JlZW5faWNvPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IkJ1eWVyIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iRGFzaGJvYXJkX3dpdGhfbWVzc2FnZXMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zODIuMDAwMDAwLCAtNjYxLjAwMDAwMCkiIHN0cm9rZT0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJHcm91cC03IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDAuMDAwMDAwLCAyNjcuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwLjAwMDAwMCwgMzUzLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zLUNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTczLjAwMDAwMCwgNDEuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICAgICAgICAgIDxnIGlkPSJUaW1lX2dyZWVuX2ljbyI%2BCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMC40MzEwMzQ0ODMsMTIuNjE0MTM3OSBDMC40MzEwMzQ0ODMsNi4wMTE1NTE3MiA1Ljc4MzYyMDY5LDAuNjU4OTY1NTE3IDEyLjM4NjIwNjksMC42NTg5NjU1MTcgQzE4Ljk4NzkzMSwwLjY1ODk2NTUxNyAyNC4zNDA1MTcyLDYuMDExNTUxNzIgMjQuMzQwNTE3MiwxMi42MTQxMzc5IEMyNC4zNDA1MTcyLDE5LjIxNjcyNDEgMTguOTg3OTMxLDI0LjU2OTMxMDMgMTIuMzg2MjA2OSwyNC41NjkzMTAzIEM1Ljc4MzYyMDY5LDI0LjU2OTMxMDMgMC40MzEwMzQ0ODMsMTkuMjE2NzI0MSAwLjQzMTAzNDQ4MywxMi42MTQxMzc5IEwwLjQzMTAzNDQ4MywxMi42MTQxMzc5IFoiIGlkPSJTdHJva2UtMSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTE2LjY5NTQzMSwxNC45Nzg2MjA3IEwxMS45Njg3MDY5LDEyLjYxNTY4OTcgTDExLjk2ODcwNjksMy41NTYyMDY5IiBpZD0iU3Ryb2tlLTMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 25px 25px;
}

/* line 79, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-section.chat-gender-section:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjMycHgiIGhlaWdodD0iMjdweCIgdmlld0JveD0iMCAwIDMyIDI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcgKDI4MTY5KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5HZW5kZXJfaWNvPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IkJ1c2luZXNzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iQXNzaWdubWVudC1EZXNjcmlwdGlvbiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzOC4wMDAwMDAsIC01OTQuMDAwMDAwKSIgc3Ryb2tlPSIjMzhFNEFFIj4KICAgICAgICAgICAgPGcgaWQ9IkdlbmRlcl9pY28iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzOS4wMDAwMDAsIDU5NS4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yLjYxMjU4MzMzLDE2LjIwMTA4MzMgQy0wLjMxNTc1LDEzLjI3Mjc1IC0wLjMxNTc1LDguNTI2MDgzMzMgMi42MTI1ODMzMyw1LjU5Nzc1IEM1LjU0MDkxNjY3LDIuNjcwMjUgMTAuMjg3NTgzMywyLjY3MDI1IDEzLjIxNTkxNjcsNS41OTc3NSBDMTYuMTQzNDE2Nyw4LjUyNjA4MzMzIDE2LjE0MzQxNjcsMTMuMjcyNzUgMTMuMjE1OTE2NywxNi4yMDEwODMzIEMxMC4yODc1ODMzLDE5LjEyOTQxNjcgNS41NDA5MTY2NywxOS4xMjk0MTY3IDIuNjEyNTgzMzMsMTYuMjAxMDgzMyBMMi42MTI1ODMzMywxNi4yMDEwODMzIFoiIGlkPSJTdHJva2UtMSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNC4wOTE5MTY3LDE2LjIwMTA4MzMgQzExLjE2MzU4MzMsMTMuMjcyNzUgMTEuMTYzNTgzMyw4LjUyNjA4MzMzIDE0LjA5MTkxNjcsNS41OTc3NSBDMTcuMDIwMjUsMi42NzAyNSAyMS43NjY5MTY3LDIuNjcwMjUgMjQuNjk1MjUsNS41OTc3NSBDMjcuNjIyNzUsOC41MjYwODMzMyAyNy42MjI3NSwxMy4yNzI3NSAyNC42OTUyNSwxNi4yMDEwODMzIEMyMS43NjY5MTY3LDE5LjEyOTQxNjcgMTcuMDIwMjUsMTkuMTI5NDE2NyAxNC4wOTE5MTY3LDE2LjIwMTA4MzMgTDE0LjA5MTkxNjcsMTYuMjAxMDgzMyBaIiBpZD0iU3Ryb2tlLTMiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlN0cm9rZS01IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iMjQuOTMwNSAwLjQxNjY2NjY2NyAyOS44MDQ2NjY3IDAuNDE2NjY2NjY3IDI5LjgwNDY2NjcgNS4yOTA4MzMzMyI%2BPC9wb2x5bGluZT4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMjQuNzAxODMzMyw1LjU5MTE2NjY3IEwyOS42NjAxNjY3LDAuNjMyODMzMzMzIiBpZD0iU3Ryb2tlLTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik03LjkxNDE2NjY3LDE4LjQzNDkxNjcgTDcuOTE0MTY2NjcsMjQuNTc1NzUiIGlkPSJTdHJva2UtOSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTQuODEzODMzMzMsMjIuNDA4NTgzMyBMMTEuMDE0NjY2NywyMi40MDg1ODMzIiBpZD0iU3Ryb2tlLTExIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc%2B);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 28px 25px;
}

/* line 86, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-descr {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
}

/* line 93, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-content-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

/* line 100, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.avatar.small.assign-chat-avatar {
  width: 70px;
  height: 70px;
  background-size: cover;
}

/* line 106, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-info-cont {
  flex-grow: 2;
  padding-left: 15px;
}

/* line 111, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-info-cont > span {
  display: block;
  width: 100%;
}

/* line 116, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-info-name {
  font-size: 18px;
  font-weight: 600;
}

/* line 121, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-info-date {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
}

/* line 127, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-lang-time-lang {
  font-size: 18px;
  font-weight: 600;
}

/* line 132, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-lang-time-arrow {
  width: 19px;
  height: 8px;
  margin: 0 5px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjIycHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMjIgOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy42LjEgKDI2MzEzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5BcnJvd3NfZ3JlZW5faWNvPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IkJ1eWVyIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgIDxnIGlkPSJEYXNoYm9hcmRfd2l0aF9tZXNzYWdlcyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM0NC4wMDAwMDAsIC02MjcuMDAwMDAwKSIgc3Ryb2tlPSIjMzhFNEFFIj4KICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwMC4wMDAwMDAsIDI2Ny4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuMDAwMDAwLCAzNTMuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLUNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQuMDAwMDAwLCAwLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iQXJyb3dzX2dyZWVuX2ljbyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAuMDAwMDAwLCA3LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEuMzAzMywzLjk0NjcgTDIwLjUwNTE5NjcsMy45NDY3IiBpZD0iU3Ryb2tlLTEiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNy44ODU5LDAuMzkzNCBMMjEuNDM4OSwzLjk0NjQgTDE3Ljg4NTksNy41MDA0IiBpZD0iU3Ryb2tlLTMiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjA1MzMsNy41IEwwLjUwMDMsMy45NDcgTDQuMDUzMywwLjM5MyIgaWQ9IlN0cm9rZS01Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D) 50% 50% no-repeat;
  background-size: 19px 8px;
}

/* line 140, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-action-btns-cont {
  width: auto;
  min-width: 125px;
}

/* line 145, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-cancel-btn,
.assign-chat-descr-cancel-btn:hover {
  display: block;
  text-align: right;
}

/* line 151, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-descr-edit-btn,
.assign-chat-descr-edit-btn:hover {
  margin-bottom: 5px;
  text-align: center;
  color: #A5A5A5;
}

@media (max-width: 1024px) {
  /* line 159, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-main-cont {
    flex-wrap: wrap;
  }

  /* line 163, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-wrapper {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  /* line 169, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-main-cont {
    padding: 0 15px;
    padding-bottom: 25px;
  }

  /* line 174, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-wrapper {
    padding: 0;
  }

  /* line 178, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-section {
    padding-left: 35px;
  }

  /* line 182, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-section:before {
    width: 30px;
  }

  /* line 186, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-section.quarter-section {
    width: 50%;
    margin-bottom: 15px;
  }

  /* line 191, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-content-info {
    font-size: 16px;
  }

  /* line 195, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .avatar.small.assign-chat-avatar {
    width: 40px;
    height: 40px;
  }

  /* line 200, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-info-name {
    font-size: 16px;
  }

  /* line 204, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-accept-form-accepting-message {
    padding-top: 25px;
  }

  /* line 208, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-action-btns-cont {
    width: 105px;
    min-width: auto;
  }

  /* line 213, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-descr-cancel-btn:not(.is-textfield-cancel) {
    display: none;
  }
}
/*=============================
    ASSIGNMENT CHAT JOB TYPE
===============================*/
/* line 222, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-cont {
  display: block;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
  text-align: center;
  background-position: 50% 25px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ebebeb;
}

/* line 233, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-cont.video-type {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjU0cHgiIGhlaWdodD0iMzBweCIgdmlld0JveD0iMCAwIDU0IDMwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMSBDb3B5IDM8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iQnVzaW5lc3MiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJtb2JpbGVfUG9zdC1hbmQtQXNzaWdubWVudF92aWRlbyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI4LjAwMDAwMCwgLTEwMDkuMDAwMDAwKSIgZmlsbD0iIzM4RTRBRSI%2BCiAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEtQ29weS0zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOC4wMDAwMDAsIDEwMDkuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzIuOTE0MTkyNywyOC40OTg5NTgzIEw1LjUwNzk0MjcxLDI4LjQ5ODk1ODMgQzIuNDgwNTk4OTYsMjguNDk4OTU4MyAwLjAyNjE3MTg3NSwyNi4wNDQ1MzEzIDAuMDI2MTcxODc1LDIzLjAxNTg4NTQgTDAuMDI2MTcxODc1LDYuNjE3NDQ3OTIgQzAuMDI2MTcxODc1LDMuNTkwMTA0MTcgMi40ODA1OTg5NiwxLjEzNTY3NzA4IDUuNTA3OTQyNzEsMS4xMzU2NzcwOCBMMzIuOTE0MTkyNywxLjEzNTY3NzA4IEMzNS45NDE1MzY1LDEuMTM1Njc3MDggMzguMzk3MjY1NiwzLjU5MDEwNDE3IDM4LjM5NzI2NTYsNi42MTc0NDc5MiBMMzguMzk3MjY1NiwyMy4wMTU4ODU0IEMzOC4zOTcyNjU2LDI2LjA0NDUzMTMgMzUuOTQxNTM2NSwyOC40OTg5NTgzIDMyLjkxNDE5MjcsMjguNDk4OTU4MyBMMzIuOTE0MTkyNywyOC40OTg5NTgzIFoiIGlkPSJTdHJva2UtMSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlN0cm9rZS0zIiBwb2ludHM9IjUzLjcxNDE5MjcgMC4wMjYwNDE2NjY3IDQzLjA3MDk2MzUgMTAuOTI1NzgxMiA0My4wNzA5NjM1IDE4LjcwOTYzNTQgNTMuNzE0MTkyNyAyOS42MDgwNzI5Ij48L3BvbHlnb24%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-size: 72px 40px;
}

/* line 238, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-cont.phone-type {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjUycHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDUyIDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwIDQ8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz48L2RlZnM%2BCiAgICA8ZyBpZD0iQnVzaW5lc3MiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQb3N0LWFuLUFzc2lnbm1lbnRfcGhvbmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjkuMDAwMDAwLCAtNjc4LjAwMDAwMCkiPgogICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY5LjAwMDAwMCwgNjc4LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9IlBhZ2UtMSI%2BCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTQ4LjMzLDQzLjQ1IEM0OC43MTc5MzEsNDMuMDYwMzQ0OCA0OC43MTc5MzEsNDIuNDMxMDM0NSA0OC4zMyw0Mi4wNDQ4Mjc2IEwzOS44MjMxMDM0LDMzLjU1MzQ0ODMgQzM5LjQzMzQ0ODMsMzMuMTYzNzkzMSAzOC44MDQxMzc5LDMzLjE2Mzc5MzEgMzguNDE0NDgyOCwzMy41NTM0NDgzIEwzMi4xMDU4NjIxLDM5Ljg1IEMzMS4wNjEwMzQ1LDQwLjg5MTM3OTMgMjkuMzY5NjU1Miw0MC44OTEzNzkzIDI4LjMyNjU1MTcsMzkuODUgTDEwLjYzNjg5NjYsMjIuMTg5NjU1MiBDOS41OTIwNjg5NywyMS4xNDgyNzU5IDkuNTkyMDY4OTcsMTkuNDU4NjIwNyAxMC42MzY4OTY2LDE4LjQxNTUxNzIgTDE2Ljg1OTMxMDMsMTIuMDMyNzU4NiBDMTcuMjQ3MjQxNCwxMS42NDQ4Mjc2IDE3LjI0NzI0MTQsMTEuMDEzNzkzMSAxNi44NTkzMTAzLDEwLjYyNzU4NjIgTDguMzUyNDEzNzksMi4xMzYyMDY5IEM3Ljk2NDQ4Mjc2LDEuNzQ2NTUxNzIgNy4zMzM0NDgyOCwxLjc0NjU1MTcyIDYuOTQ1NTE3MjQsMi4xMzYyMDY5IEwyLjE0NzI0MTM4LDcuMzAxNzI0MTQgQy0xLjU5OTMxMDM0LDE4LjAwNTE3MjQgMy4wMDkzMTAzNCwyNS43OTEzNzkzIDEzLjg2NDQ4MjgsMzYuNjI5MzEwMyBDMjQuNzE3OTMxLDQ3LjQ2Mzc5MzEgMzIuNTE5NjU1Miw1Mi4wNjM3OTMxIDQzLjI0MjA2OSw0OC4zMjQxMzc5IEw0OC4zMyw0My40NSBMNDguMzMsNDMuNDUgWiIgaWQ9IlN0cm9rZS0xIiBmaWxsPSIjMzhFNEFFIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTQuMDg1Njg5NjYsNS40NTM2MjA2OSBMMTMuODU4MTAzNCwxNS4yMjYwMzQ1IiBpZD0iU3Ryb2tlLTMiIHN0cm9rZT0iI0ZGRkZGRiI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0zNS40MjgyNzU5LDM2Ljc5NjM3OTMgTDQ1LjIwMDY4OTcsNDYuNTY4NzkzMSIgaWQ9IlN0cm9rZS01IiBzdHJva2U9IiNGRkZGRkYiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMjYuMDU4NzkzMSw3LjU1OTY1NTE3IEMzNi4xNTcwNjksNy41NTk2NTUxNyA0NC4zNDUsMTUuNzQ1ODYyMSA0NC4zNDUsMjUuODQ1ODYyMSIgaWQ9IlN0cm9rZS03IiBzdHJva2U9IiMzOEU0QUUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yNS4xMDE4OTY2LDAuODYyMDY4OTY2IEMzOS40Mjc3NTg2LDAuODYyMDY4OTY2IDUxLjA0MTU1MTcsMTIuNDc1ODYyMSA1MS4wNDE1NTE3LDI2LjgwMTcyNDEiIGlkPSJTdHJva2UtOSIgc3Ryb2tlPSIjMzhFNEFFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc%2B);
  background-size: 41px 40px;
}

/* line 243, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-cont.meeting-type {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjM2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMTwvdGl0bGU%2BCiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJCdXNpbmVzcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI%2BCiAgICAgICAgPGcgaWQ9IlBvc3QtYW4tQXNzaWdubWVudF9pbl9wZXJzb24iIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04MDQuMDAwMDAwLCAtNjc4LjAwMDAwMCkiPgogICAgICAgICAgICA8ZyBpZD0iUGFnZS0xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MDQuMDAwMDAwLCA2NzguMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTguMTYwODYyMSw0OS4xMzc5MzEgQzE3Ljg1OTEzNzksNDkuMTM3OTMxIDE3LjU1NzQxMzgsNDkuMDM3OTMxIDE3LjM1NTY4OTcsNDguNzM2MjA2OSBDMTYuNjUyMjQxNCw0Ny44MzEwMzQ1IDAuODYyNTg2MjA3LDI3LjMxMzc5MzEgMC44NjI1ODYyMDcsMTguMTYwMzQ0OCBDMC44NjI1ODYyMDcsOC42MDY4OTY1NSA4LjYwNTY4OTY2LDAuODYyMDY4OTY2IDE4LjE2MDg2MjEsMC44NjIwNjg5NjYgQzI3LjcxNjAzNDUsMC44NjIwNjg5NjYgMzUuNDU5MTM3OSw4LjYwNjg5NjU1IDM1LjQ1OTEzNzksMTguMTYwMzQ0OCBDMzUuNDU5MTM3OSwyNy4zMTM3OTMxIDE5LjY2OTQ4MjgsNDcuODMxMDM0NSAxOC45NjYwMzQ1LDQ4LjczNjIwNjkgQzE4Ljc2NDMxMDMsNDkuMDM3OTMxIDE4LjQ2MjU4NjIsNDkuMTM3OTMxIDE4LjE2MDg2MjEsNDkuMTM3OTMxIEwxOC4xNjA4NjIxLDQ5LjEzNzkzMSBaIiBpZD0iU3Ryb2tlLTEiIGZpbGw9IiMzOEU0QUUiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOC4xNjA4NjIxLDI3LjMxMzI3NTkgQzEzLjEzMTU1MTcsMjcuMzEzMjc1OSA5LjAwOTEzNzkzLDIzLjE4OTEzNzkgOS4wMDkxMzc5MywxOC4xNjE1NTE3IEM5LjAwOTEzNzkzLDEzLjEzMjI0MTQgMTMuMTMxNTUxNyw5LjAwODEwMzQ1IDE4LjE2MDg2MjEsOS4wMDgxMDM0NSBDMjMuMTkwMTcyNCw5LjAwODEwMzQ1IDI3LjMxMjU4NjIsMTMuMTMyMjQxNCAyNy4zMTI1ODYyLDE4LjE2MTU1MTcgQzI3LjMxMjU4NjIsMjMuMTg5MTM3OSAyMy4xOTAxNzI0LDI3LjMxMzI3NTkgMTguMTYwODYyMSwyNy4zMTMyNzU5IEwxOC4xNjA4NjIxLDI3LjMxMzI3NTkgWiIgaWQ9IlN0cm9rZS0zIiBmaWxsPSIjRkZGRkZGIj48L3BhdGg%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-size: 35px auto;
}

/* line 248, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-cont.hub-type-business,
.assign-chat-job-type-cont.hub-type-interpreter {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjQzcHgiIGhlaWdodD0iNDlweCIgdmlld0JveD0iMCAwIDQzIDQ5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjguMyAoMjk4MDIpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPkdyb3VwPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9Ii0iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJQb3N0LWFuLUFzc2lnbm1lbnRfaHViIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODc3LjAwMDAwMCwgLTk2My4wMDAwMDApIj4KICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NzcuMDAwMDAwLCA5NjMuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iRmlsbC0xIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjAuNjc1Njc1Njc2IDQ4LjEwODkxODkgMzAuNTk3Mjk3MyA0OC4xMDg5MTg5IDMwLjU5NzI5NzMgMC42NzY0ODY0ODYgMC42NzU2NzU2NzYgMC42NzY0ODY0ODYiPjwvcG9seWdvbj4KICAgICAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJTdHJva2UtMiIgZmlsbD0iIzM4RTRBRSIgcG9pbnRzPSIwLjY3NTY3NTY3NiA0OC4xMDg5MTg5IDMwLjU5NzI5NzMgNDguMTA4OTE4OSAzMC41OTcyOTczIDAuNjc1MTM1MTM1IDAuNjc1Njc1Njc2IDAuNjc1MTM1MTM1Ij48L3BvbHlnb24%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzguNDQ0NDU5NSwxMC4wODU5NDU5IEwyMC41NDA0MDU0LDEwLjA4NTk0NTkgQzE5LjQwMTIxNjIsOC4yOTk0NTk0NiAxNy40MTMzNzg0LDcuMTA3NTY3NTcgMTUuMTM3NzAyNyw3LjEwNzU2NzU3IEMxMS41OTE3NTY4LDcuMTA3NTY3NTcgOC43MTg3ODM3OCw5Ljk4MDU0MDU0IDguNzE4NzgzNzgsMTMuNTI2NDg2NSBDOC43MTg3ODM3OCwxNy4wNzEwODExIDExLjU5MTc1NjgsMTkuOTQ1NDA1NCAxNS4xMzc3MDI3LDE5Ljk0NTQwNTQgQzE3LjQxMzM3ODQsMTkuOTQ1NDA1NCAxOS40MDEyMTYyLDE4Ljc1MjE2MjIgMjAuNTQwNDA1NCwxNi45NjU2NzU3IEwzOC40NDQ0NTk1LDE2Ljk2NTY3NTcgQzQwLjM0NDQ1OTUsMTYuOTY1Njc1NyA0MS44ODUsMTUuNDI2NDg2NSA0MS44ODUsMTMuNTI2NDg2NSBDNDEuODg1LDExLjYyNjQ4NjUgNDAuMzQ0NDU5NSwxMC4wODU5NDU5IDM4LjQ0NDQ1OTUsMTAuMDg1OTQ1OSIgaWQ9IkZpbGwtNCIgc3Ryb2tlPSIjRkZGRkZGIiBmaWxsPSIjMzhFNEFFIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzguNDQ0NDU5NSwxMC4wODU5NDU5IEwyMC41NDA0MDU0LDEwLjA4NTk0NTkgQzE5LjQwMTIxNjIsOC4yOTk0NTk0NiAxNy40MTMzNzg0LDcuMTA3NTY3NTcgMTUuMTM3NzAyNyw3LjEwNzU2NzU3IEMxMS41OTE3NTY4LDcuMTA3NTY3NTcgOC43MTg3ODM3OCw5Ljk4MDU0MDU0IDguNzE4NzgzNzgsMTMuNTI2NDg2NSBDOC43MTg3ODM3OCwxNy4wNzEwODExIDExLjU5MTc1NjgsMTkuOTQ1NDA1NCAxNS4xMzc3MDI3LDE5Ljk0NTQwNTQgQzE3LjQxMzM3ODQsMTkuOTQ1NDA1NCAxOS40MDEyMTYyLDE4Ljc1MjE2MjIgMjAuNTQwNDA1NCwxNi45NjU2NzU3IEwzOC40NDQ0NTk1LDE2Ljk2NTY3NTcgQzQwLjM0NDQ1OTUsMTYuOTY1Njc1NyA0MS44ODUsMTUuNDI2NDg2NSA0MS44ODUsMTMuNTI2NDg2NSBDNDEuODg1LDExLjYyNjQ4NjUgNDAuMzQ0NDU5NSwxMC4wODU5NDU5IDM4LjQ0NDQ1OTUsMTAuMDg1OTQ1OSBMMzguNDQ0NDU5NSwxMC4wODU5NDU5IFoiIGlkPSJTdHJva2UtNSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNy4yNDI1Njc2LDQwLjk1MDI3MDMgTDE3LjI0MjU2NzYsMzQuNDg1NDA1NCBDMTguMDc2MzUxNCwzMy45NTQzMjQzIDE4LjYzMzEwODEsMzMuMDI1OTQ1OSAxOC42MzMxMDgxLDMxLjk2Mzc4MzggQzE4LjYzMzEwODEsMzAuMzA4Mzc4NCAxNy4yOTEyMTYyLDI4Ljk2NzgzNzggMTUuNjM3MTYyMiwyOC45Njc4Mzc4IEMxMy45ODE3NTY4LDI4Ljk2NzgzNzggMTIuNjQxMjE2MiwzMC4zMDgzNzg0IDEyLjY0MTIxNjIsMzEuOTYzNzgzOCBDMTIuNjQxMjE2MiwzMy4wMjU5NDU5IDEzLjE5NjYyMTYsMzMuOTU0MzI0MyAxNC4wMzA0MDU0LDM0LjQ4NTQwNTQgTDE0LjAzMDQwNTQsNDAuOTUwMjcwMyBDMTQuMDMwNDA1NCw0MS44MzY3NTY4IDE0Ljc0OTMyNDMsNDIuNTU1Njc1NyAxNS42MzcxNjIyLDQyLjU1NTY3NTcgQzE2LjUyMzY0ODYsNDIuNTU1Njc1NyAxNy4yNDI1Njc2LDQxLjgzNjc1NjggMTcuMjQyNTY3Niw0MC45NTAyNzAzIiBpZD0iRmlsbC02IiBmaWxsPSIjRkZGRkZGIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTcuMjQyNTY3Niw0MC45NTAyNzAzIEwxNy4yNDI1Njc2LDM0LjQ4NTQwNTQgQzE4LjA3NjM1MTQsMzMuOTU0MzI0MyAxOC42MzMxMDgxLDMzLjAyNTk0NTkgMTguNjMzMTA4MSwzMS45NjM3ODM4IEMxOC42MzMxMDgxLDMwLjMwODM3ODQgMTcuMjkxMjE2MiwyOC45Njc4Mzc4IDE1LjYzNzE2MjIsMjguOTY3ODM3OCBDMTMuOTgxNzU2OCwyOC45Njc4Mzc4IDEyLjY0MTIxNjIsMzAuMzA4Mzc4NCAxMi42NDEyMTYyLDMxLjk2Mzc4MzggQzEyLjY0MTIxNjIsMzMuMDI1OTQ1OSAxMy4xOTY2MjE2LDMzLjk1NDMyNDMgMTQuMDMwNDA1NCwzNC40ODU0MDU0IEwxNC4wMzA0MDU0LDQwLjk1MDI3MDMgQzE0LjAzMDQwNTQsNDEuODM2NzU2OCAxNC43NDkzMjQzLDQyLjU1NTY3NTcgMTUuNjM3MTYyMiw0Mi41NTU2NzU3IEMxNi41MjM2NDg2LDQyLjU1NTY3NTcgMTcuMjQyNTY3Niw0MS44MzY3NTY4IDE3LjI0MjU2NzYsNDAuOTUwMjcwMyBMMTcuMjQyNTY3Niw0MC45NTAyNzAzIFoiIGlkPSJTdHJva2UtNyIgZmlsbD0iI0ZGRkZGRiI%2BPC9wYXRoPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
  background-size: 42px auto;
}

/* line 254, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

/* line 260, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-text {
  font-size: 14px;
}

/* line 264, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  text-align: left;
}

/* line 271, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-points-cont {
  flex-shrink: 0;
  width: 50%;
  max-width: 300px;
  padding-right: 30px;
}

/* line 278, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-one-point {
  margin-bottom: 20px;
  font-size: 16px;
}

/* line 283, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-one-point span {
  display: block;
}

/* line 287, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-one-point-title {
  font-weight: 600;
}

/* line 291, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-map {
  flex-grow: 2;
  height: 170px;
  width: 100px;
  background-color: #ebebeb;
}

/* line 298, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-job-type-location-info-descr-cont {
  width: 100%;
  margin-top: 40px;
}

/*=============================
    ASSIGNMENT CHAT SESSION DETAILS BLOCK
===============================*/
/* line 307, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-cont {
  display: block;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

/* line 313, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-title {
  display: block;
  width: 100%;
  padding: 16px 10px 21px 10px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/* line 323, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* line 332, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile {
  display: inline-block;
  width: 290px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #f3f4f6;
}

/* line 341, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile:nth-child(odd) {
  margin-right: 20px;
}

@media (max-width: 650px) {
  /* line 346, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-session-details-wrapper {
    justify-content: center;
  }

  /* line 350, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-session-details-tile:nth-child(odd) {
    margin-right: 0;
  }
}
/* line 355, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #38e4ae;
}

/* line 366, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile-info {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* line 374, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile-info.is-space-under {
  margin-bottom: 15px;
}

/* line 378, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile-info.is-with-blocks span {
  display: block;
}

/* line 382, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-session-details-tile-info-expl {
  font-weight: 600;
}

/*=============================
    ASSIGNMENT CHAT JOB INFO BLOCK
===============================*/
/* line 390, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 200px;
  padding: 20px;
  text-align: center;
  background-color: #38e4ae;
  color: #ffffff;
}

/* line 403, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.is-destroy .assign-chat-info-block.is-destroy-job-status {
  padding: 60px 0;
}

/* line 407, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-wrapper.is-destroy {
  background-color: #f15c61;
}

/* line 411, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-wrapper.is-call {
  background-color: #182849;
}

/* line 415, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-call-text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #38e4ae;
  font-weight: lighter;
  margin-bottom: 34px;
}

/* line 426, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-call-text u {
  display: block;
}

/* line 430, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block.is-awarded-job-status {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjcxcHgiIGhlaWdodD0iOTRweCIgdmlld0JveD0iMCAwIDcxIDk0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMTwvdGl0bGU%2BCiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJJbnRlcnByZXRlciIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iQXNzaWdubWVudF9tZXNzYWdlX0F3YXJkZWQtVGV4dCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTk2NC4wMDAwMDAsIC0zMTguMDAwMDAwKSIgc3Ryb2tlPSIjRkZGRkZGIj4KICAgICAgICAgICAgPGcgaWQ9IlBhZ2UtMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTY0LjAwMDAwMCwgMzE4LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTdHJva2UtMSIgcG9pbnRzPSI0MC4wNjEyNzAzIDY2LjcxODI1ODUgNTIuOTQzNjEyNiA5My42NDI1NDQyIDU4Ljg1Mzg4MjkgODQuMTg0OTkzMiA2OS41MzU4NjQ5IDg1LjgzNDc4OTEgNTcuNDc1NDU5NSA2MC4yNDA1NzE0Ij48L3BvbHlsaW5lPgogICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTdHJva2UtMyIgcG9pbnRzPSIzMC4xNjEyNDc3IDY2LjcxODI1ODUgMTcuMjc4OTA1NCA5My42NDI1NDQyIDExLjM2ODYzNTEgODQuMTg0OTkzMiAwLjY4NjY1MzE1MyA4NS44MzQ3ODkxIDEyLjc0NzA1ODYgNjAuMjQwNTcxNCI%2BPC9wb2x5bGluZT4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00MS43Njg0Njg1LDMuMzQzNzE0MjkgTDQzLjUzNzA3MjEsNS4wNDQ2NjY2NyBDNDUuMjY0MDk5MSw2LjcwNzI1MTcgNDcuNTU0MDA5LDcuNjUzNjQ2MjYgNDkuOTQ5NDU5NSw3LjcwMTYwNTQ0IEw1Mi40MDU2NzU3LDcuNzQ5NTY0NjMgQzU3LjUxNjM5NjQsNy44NDg2ODAyNyA2MS42MzU2NzU3LDExLjk2Njc3NTUgNjEuNzM4MDE4LDE3LjA3NjAyNzIgTDYxLjc4Mjc5MjgsMTkuNTMxNTM3NCBDNjEuODMwNzY1OCwyMS45MjYyOTkzIDYyLjc4MDYzMDYsMjQuMjE1NTUxIDY0LjQ0MDQ5NTUsMjUuOTQyMDgxNiBMNjYuMTQxOTM2OSwyNy43MTAxNzY5IEM2OS42ODU1NDA1LDMxLjM5MzQ0MjIgNjkuNjg1NTQwNSwzNy4yMTg4ODQ0IDY2LjE0MTkzNjksNDAuOTAyMTQ5NyBMNjQuNDQwNDk1NSw0Mi42NzAyNDQ5IEM2Mi43ODA2MzA2LDQ0LjM5Njc3NTUgNjEuODMwNzY1OCw0Ni42ODYwMjcyIDYxLjc4Mjc5MjgsNDkuMDgwNzg5MSBMNjEuNzM4MDE4LDUxLjUzNjI5OTMgQzYxLjYzNTY3NTcsNTYuNjQ1NTUxIDU3LjUxNjM5NjQsNjAuNzYzNjQ2MyA1Mi40MDU2NzU3LDYwLjg2Mjc2MTkgTDQ5Ljk0OTQ1OTUsNjAuOTEwNzIxMSBDNDcuNTU0MDA5LDYwLjk1ODY4MDMgNDUuMjY0MDk5MSw2MS45MDUwNzQ4IDQzLjUzNzA3MjEsNjMuNTY3NjU5OSBMNDEuNzY4NDY4NSw2NS4yNjg2MTIyIEMzOC4wODQxNDQxLDY4LjgxMTE5NzMgMzIuMjU3MDI3LDY4LjgxMTE5NzMgMjguNTcyNzAyNyw2NS4yNjg2MTIyIEwyNi44MDQwOTkxLDYzLjU2NzY1OTkgQzI1LjA3NzA3MjEsNjEuOTA1MDc0OCAyMi43ODcxNjIyLDYwLjk1ODY4MDMgMjAuMzkxNzExNyw2MC45MTA3MjExIEwxNy45MzU0OTU1LDYwLjg2Mjc2MTkgQzEyLjgyNDc3NDgsNjAuNzYzNjQ2MyA4LjcwNTQ5NTUsNTYuNjQ1NTUxIDguNjA2MzUxMzUsNTEuNTM2Mjk5MyBMOC41NTgzNzgzOCw0OS4wODA3ODkxIEM4LjUxMDQwNTQxLDQ2LjY4NjAyNzIgNy41NjM3Mzg3NCw0NC4zOTY3NzU1IDUuOTAzODczODcsNDIuNjcwMjQ0OSBMNC4xOTkyMzQyMyw0MC45MDIxNDk3IEMwLjY1NTYzMDYzMSwzNy4yMTg4ODQ0IDAuNjU1NjMwNjMxLDMxLjM5MzQ0MjIgNC4xOTkyMzQyMywyNy43MTAxNzY5IEw1LjkwMzg3Mzg3LDI1Ljk0MjA4MTYgQzcuNTYzNzM4NzQsMjQuMjE1NTUxIDguNTEwNDA1NDEsMjEuOTI2Mjk5MyA4LjU1ODM3ODM4LDE5LjUzMTUzNzQgTDguNjA2MzUxMzUsMTcuMDc2MDI3MiBDOC43MDU0OTU1LDExLjk2Njc3NTUgMTIuODI0Nzc0OCw3Ljg0ODY4MDI3IDE3LjkzNTQ5NTUsNy43NDk1NjQ2MyBMMjAuMzkxNzExNyw3LjcwMTYwNTQ0IEMyMi43ODcxNjIyLDcuNjUzNjQ2MjYgMjUuMDc3MDcyMSw2LjcwNzI1MTcgMjYuODA0MDk5MSw1LjA0NDY2NjY3IEwyOC41NzI3MDI3LDMuMzQzNzE0MjkgQzMyLjI1NzAyNywtMC4xOTg4NzA3NDggMzguMDg0MTQ0MSwtMC4xOTg4NzA3NDggNDEuNzY4NDY4NSwzLjM0MzcxNDI5IEw0MS43Njg0Njg1LDMuMzQzNzE0MjkgWiIgaWQ9IlN0cm9rZS01Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzkuODg2MzI4OCwxMi4xNzc0NzYyIEw0MS4xNTI4MTUzLDEzLjM5MjQ0MjIgQzQyLjM4NDEyMTYsMTQuNTgxODI5OSA0NC4wMjE1OTkxLDE1LjI1OTY1MzEgNDUuNzM1ODMzMywxNS4yOTE2MjU5IEw0Ny40ODg0NDU5LDE1LjMyNjc5NTkgQzUxLjE0MDc4ODMsMTUuMzk3MTM2MSA1NC4wODYzMjg4LDE4LjMzODYzMjcgNTQuMTU2Njg5MiwyMS45OTMxMjI0IEw1NC4xOTE4Njk0LDIzLjc0NTIzMTMgQzU0LjIyMzg1MTQsMjUuNDU4OTcyOCA1NC45MDE4Njk0LDI3LjA5Mjc4MjMgNTYuMDg4NDAwOSwyOC4zMjY5MzIgTDU3LjMwNjkxNDQsMjkuNTkzMDU0NCBDNTkuODM5ODg3NCwzMi4yMjQ0MTUgNTkuODM5ODg3NCwzNi4zODcyNzIxIDU3LjMwNjkxNDQsMzkuMDE4NjMyNyBMNTYuMDg4NDAwOSw0MC4yODQ3NTUxIEM1NC45MDE4Njk0LDQxLjUxODkwNDggNTQuMjIzODUxNCw0My4xNTU5MTE2IDU0LjE5MTg2OTQsNDQuODY2NDU1OCBMNTQuMTU2Njg5Miw0Ni42MjE3NjE5IEM1NC4wODYzMjg4LDUwLjI3MzA1NDQgNTEuMTQwNzg4Myw1My4yMTc3NDgzIDQ3LjQ4ODQ0NTksNTMuMjg4MDg4NCBMNDUuNzM1ODMzMyw1My4zMjAwNjEyIEM0NC4wMjE1OTkxLDUzLjM1NTIzMTMgNDIuMzg0MTIxNiw1NC4wMzMwNTQ0IDQxLjE1MjgxNTMsNTUuMjE5MjQ0OSBMMzkuODg2MzI4OCw1Ni40MzQyMTA5IEMzNy4yNTQyMTE3LDU4Ljk2NjQ1NTggMzMuMDkwMTU3Nyw1OC45NjY0NTU4IDMwLjQ1NDg0MjMsNTYuNDM0MjEwOSBMMjkuMTkxNTU0MSw1NS4yMTkyNDQ5IEMyNy45NTcwNDk1LDU0LjAzMzA1NDQgMjYuMzE5NTcyMSw1My4zNTUyMzEzIDI0LjYwODUzNiw1My4zMjAwNjEyIEwyMi44NTI3MjUyLDUzLjI4ODA4ODQgQzE5LjIwMDM4MjksNTMuMjE3NzQ4MyAxNi4yNTQ4NDIzLDUwLjI3MzA1NDQgMTYuMTg0NDgyLDQ2LjYyMTc2MTkgTDE2LjE1MjUsNDQuODY2NDU1OCBDMTYuMTE3MzE5OCw0My4xNTU5MTE2IDE1LjQzOTMwMTgsNDEuNTE4OTA0OCAxNC4yNTI3NzAzLDQwLjI4NDc1NTEgTDEzLjAzNzQ1NSwzOS4wMTg2MzI3IEMxMC41MDQ0ODIsMzYuMzg3MjcyMSAxMC41MDQ0ODIsMzIuMjI0NDE1IDEzLjAzNzQ1NSwyOS41OTMwNTQ0IEwxNC4yNTI3NzAzLDI4LjMyNjkzMiBDMTUuNDM5MzAxOCwyNy4wOTI3ODIzIDE2LjExNzMxOTgsMjUuNDU4OTcyOCAxNi4xNTI1LDIzLjc0NTIzMTMgTDE2LjE4NDQ4MiwyMS45OTMxMjI0IEMxNi4yNTQ4NDIzLDE4LjMzODYzMjcgMTkuMjAwMzgyOSwxNS4zOTcxMzYxIDIyLjg1MjcyNTIsMTUuMzI2Nzk1OSBMMjQuNjA4NTM2LDE1LjI5MTYyNTkgQzI2LjMxOTU3MjEsMTUuMjU5NjUzMSAyNy45NTcwNDk1LDE0LjU4MTgyOTkgMjkuMTkxNTU0MSwxMy4zOTI0NDIyIEwzMC40NTQ4NDIzLDEyLjE3NzQ3NjIgQzMzLjA5MDE1NzcsOS42NDUyMzEyOSAzNy4yNTQyMTE3LDkuNjQ1MjMxMjkgMzkuODg2MzI4OCwxMi4xNzc0NzYyIEwzOS44ODYzMjg4LDEyLjE3NzQ3NjIgWiIgaWQ9IlN0cm9rZS03Ij48L3BhdGg%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-repeat: no-repeat;
  background-size: 70px 94px;
  background-position: 50% 77px;
}

/* line 437, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-main-text {
  font-size: 18px;
  font-weight: 600;
}

/* line 442, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-main-text.is-lighter {
  font-weight: normal;
}

/* line 446, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.is-awarded-job-status .assign-chat-info-block-main-text {
  margin-bottom: 170px;
}

/* line 450, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-secondary-text {
  margin-top: 15px;
  font-size: 16px;
}

/* line 455, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-secondary-text:first-child {
  margin-top: 0;
}

/* line 459, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-secondary-text span {
  display: block;
}

/* line 463, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block.is-past-job-status {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjcxcHgiIGhlaWdodD0iNzFweCIgdmlld0JveD0iMCAwIDcxIDcxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjcuMiAoMjgyNzYpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhZ2UgMTwvdGl0bGU%2BCiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJJbnRlcnByZXRlciIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI%2BCiAgICAgICAgPGcgaWQ9IkFzc2lnbm1lbnRfTWVzc2FnZV95b3UtZWFybmVkX1hYTk9LIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTYzLjAwMDAwMCwgLTM3NC4wMDAwMDApIiBzdHJva2U9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyBpZD0iR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg2OS4wMDAwMDAsIDI0MS4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk1LjAwMDAwMCwgMTM0LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMC4xOTc4MTM2LDU5LjE0MTM0NzIgQy0zLjMxODQ0NTk0LDQ1LjYyNTA4NzcgLTMuMzE4NDQ1OTQsMjMuNzEzNTczOSAxMC4xOTc4MTM2LDEwLjE5NzMxNDQgQzIzLjcxNDA3MzEsLTMuMzE2NDQ5NDQgNDUuNjI1NTg2OCwtMy4zMTY0NDk0NCA1OS4xNDE4NDYzLDEwLjE5NzMxNDQgQzcyLjY1NTYxMDIsMjMuNzEzNTczOSA3Mi42NTU2MTAyLDQ1LjYyNTA4NzcgNTkuMTQxODQ2Myw1OS4xNDEzNDcyIEM0NS42MjU1ODY4LDcyLjY1NzYwNjcgMjMuNzE0MDczMSw3Mi42NTc2MDY3IDEwLjE5NzgxMzYsNTkuMTQxMzQ3MiBMMTAuMTk3ODEzNiw1OS4xNDEzNDcyIFoiIGlkPSJTdHJva2UtMSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDxwb2x5bGluZSBpZD0iU3Ryb2tlLTMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgcG9pbnRzPSI0Ny43NTEzNTMgMjEuMDI2NzkzMSAzMy4xMjcwMzk3IDQ4LjMxMTM2OTQgMjEuNTg3MzA4NiA0MS45MTAxMTI4Ij48L3BvbHlsaW5lPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
  background-repeat: no-repeat;
  background-position: 50% 111px;
  background-size: 70px 70px;
}

/* line 470, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-past-job-text-cont {
  display: block;
  width: 100%;
  margin-bottom: 108px;
}

/* line 476, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-past-job-text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

/* line 485, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-past-job-price {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
}

/* line 494, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-sum-price {
  display: block;
  margin-top: 22px;
  line-height: 1;
  font-size: 30px;
  color: #182849;
}

/* line 502, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-sum-price.is-black {
  color: #000000;
}

/* line 507, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-secondary-text.is-blue,
.assign-chat-info-block-sum-price.is-blue {
  color: #1F365B;
}

/* line 512, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-price {
  margin-bottom: 26px;
  font-size: 14px;
  color: #182849;
}

/* line 518, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-apply-btn {
  margin-bottom: 15px;
}

/* line 522, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-call-btn {
  margin-bottom: 15px;
}

/* line 526, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-custom-btn {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  padding-right: 25px;
  font-size: 14px;
  text-align: left;
  text-decoration: underline;
  color: #182849;
  background-color: transparent;
  border: none;
}

/* line 541, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-custom-btn .info-tooltip-cont {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 547, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-custom-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* line 553, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-custom-input {
  display: block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  margin-right: 5px;
  font-size: 30px;
  text-align: right;
  color: #182849;
  border-radius: 3px;
  border: none;
}

/* line 567, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-custom-input-currency {
  font-size: 30px;
  color: #182849;
}

/* line 572, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
.assign-chat-info-block-reason-textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #182849;
  border: none;
  resize: none;
}

@media (max-width: 1024px) {
  /* line 585, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/jobs_pages/assign_chat_job_descr.scss */
  .assign-chat-info-block-wrapper {
    width: 100%;
  }
}
