/*=================================================
        SECURITY PAGE
==================================================*/
/* line 6, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.settings-section-title {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

/* line 16, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-page {
  display: block;
  width: 100%;
  padding: 35px 30px 70px 30px;
}

/* line 22, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-password-main-cont {
  display: flex;
  padding-bottom: 50px;
}

/* line 27, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-change-password-cont {
  position: relative;
  display: block;
  width: 500px;
  margin: 0 auto;
}

/* line 34, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-change-password-cont .accepting-data-special-message-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 39, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-password-strongness {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 310px;
  line-height: 44px;
  font-size: 16px;
}

/* line 48, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-password-strongness.weak {
  color: #f15c61;
}

/* line 52, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-password-tip-text {
  position: absolute;
  top: 135px;
  left: 370px;
  display: block;
  width: 100%;
  max-width: 265px;
  font-size: 16px;
  color: #585858;
}

/* line 63, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-password-tip-text span {
  color: #38e4ae;
}

/* line 67, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.security-notification-cont {
  padding: 30px 0;
  padding-right: 50px;
}

/* line 72, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.save-notifications-btn {
  width: 290px;
}

/* line 76, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
.update-password-btn-cont {
  width: 100%;
}

@media (max-width: 900px) {
  /* line 81, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-password-tip-text {
    position: static;
    margin-bottom: 25px;
  }
}
@media (max-width: 550px) {
  /* line 92, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-page {
    padding: 0;
  }

  /* line 96, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-change-password-cont {
    padding-top: 10px;
    width: 100%;
  }

  /* line 101, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-change-password-cont .accept-data-one-field,
  .update-password-btn-cont {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 107, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .save-notifications-btn {
    width: 100%;
  }

  /* line 111, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-notification-cont {
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  /* line 117, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/settings/change_password.scss */
  .security-password-strongness {
    display: none;
  }
}
