/* line 1, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  margin-top: -50px;
  background-color: #38e4ae;
}

/* line 13, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__content-cont {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-top: 100px;
}

/* line 20, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__inputs-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* line 29, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__inputs-wrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 25px, transparent 25px, transparent 50px, #ffffff 50px, #ffffff 75px, transparent 75px, transparent 100%);
}

/* line 40, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__inputs-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(to right, transparent 0%, transparent 13px, #ffffff 13px, #ffffff 38px, transparent 38px, transparent 63px, #ffffff 63px, #ffffff 100%);
}

/* line 51, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0;
  line-height: 45px;
  font-size: 35px;
  letter-spacing: 31px;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

/* line 64, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__try-again-cont {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
}

/* line 72, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
.enter-code__try-again-btn {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

@media (max-width: 650px) {
  /* line 85, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/wizard/enter_code.scss */
  .enter-code__content-cont {
    margin-top: 35px;
  }
}
