/* line 1, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding-bottom: 70px;
}

/* line 10, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__text {
  display: block;
  width: 100%;
  max-width: 710px;
  margin: 20px 0;
  padding: 0 10px;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

/* line 21, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 820px;
  padding: 0 10px;
}

/* line 30, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payouts-collection {
  width: 100%;
}

/* line 34, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__select-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* line 41, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-height: 360px;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
}

/* line 53, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile--paypal {
  border: 1px solid #38e4ae;
  background-color: #ebfcf7;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjY2cHgiIGhlaWdodD0iNjVweCIgdmlld0JveD0iMCAwIDY2IDY1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzOS4xICgzMTcyMCkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0%2BCiAgICA8dGl0bGU%2BUGFnZSAxPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BCiAgICAgICAgPHBvbHlnb24gaWQ9InBhdGgtMSIgcG9pbnRzPSI1LjM3OTgyMjI1IDE0LjE5MzkyIDUuMzc5ODIyMjUgMC4wNjAwODM2MzY0IDAuMDg5NDE2MjI4MiAwLjA2MDA4MzYzNjQgMC4wODk0MTYyMjgyIDE0LjE5MzkyIDUuMzc5ODIyMjUgMTQuMTkzOTIiPjwvcG9seWdvbj4KICAgICAgICA8cG9seWdvbiBpZD0icGF0aC0zIiBwb2ludHM9IjMyLjQ3MTkxNzMgMC4wMTc3MjcyNzI3IDAuMDE5OTc4NzAwOCAwLjAxNzcyNzI3MjcgMC4wMTk5Nzg3MDA4IDM3LjU1MDU0NzMgMzIuNDcxOTE3MyAzNy41NTA1NDczIDMyLjQ3MTkxNzMgMC4wMTc3MjcyNzI3Ij48L3BvbHlnb24%2BCiAgICA8L2RlZnM%2BCiAgICA8ZyBpZD0iUGF5b3V0LW1ldGhvZCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI%2BCiAgICAgICAgPGcgaWQ9IkRlc2t0b3AtUGF5b3V0LU1ldGhvZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM5My4wMDAwMDAsIC0zMjYuMDAwMDAwKSI%2BCiAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5My4wMDAwMDAsIDMyNi4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00NC43NTU4ODI3LDUyLjMxNjQ5MDkgQzQ0LjQ3NzczODQsNTQuMTQyODcyNyA0My4wODE4MTM0LDU0LjE0Mjg3MjcgNDEuNzMxNzcyNyw1NC4xNDI4NzI3IEw0MC45NjM4MDEsNTQuMTQyODcyNyBMNDEuNTAyMzUwOSw1MC43MzI4NTQ1IEM0MS41MzQ5OTAzLDUwLjUyNjc0NTUgNDEuNzEyODUxMyw1MC4zNzUgNDEuOTIxNjk2MSw1MC4zNzUgTDQyLjI3Mzg3MDMsNTAuMzc1IEM0My4xOTI3NCw1MC4zNzUgNDQuMDYwNzU4NCw1MC4zNzUgNDQuNTA4MjQ5MSw1MC44OTgwNzI3IEM0NC43NzU5ODY3LDUxLjIxMTI1NDUgNDQuODU3MTEyMSw1MS42NzUyMzY0IDQ0Ljc1NTg4MjcsNTIuMzE2NDkwOSBNNDQuMTY4MzczOCw0Ny41NTE0IEwzOS4wNzY4NjYxLDQ3LjU1MTQgQzM4LjcyODcxMjcsNDcuNTUxNCAzOC40MzIzNTY1LDQ3LjgwNDU0NTUgMzguMzc4MTk0LDQ4LjE0ODIxODIgTDM2LjMxOTMxMSw2MS4xOTUwMTgyIEMzNi4yNzg2MzAxLDYxLjQ1MjQxODIgMzYuNDc3Nzc3Niw2MS42ODUyMzY0IDM2LjczODQxOTcsNjEuNjg1MjM2NCBMMzkuMzUwNzUzMSw2MS42ODUyMzY0IEMzOS41OTQ2MDI1LDYxLjY4NTIzNjQgMzkuODAyMDI4MSw2MS41MDc5NjM2IDM5LjgzOTg3MDksNjEuMjY3NTgxOCBMNDAuNDIzODMyMSw1Ny41Njg3MjczIEM0MC40Nzc5OTQ1LDU3LjIyNTA1NDUgNDAuNzc0MzUwNyw1Ni45NzE5MDkxIDQxLjEyMjUwNDEsNTYuOTcxOTA5MSBMNDIuNzMzNjU5OSw1Ni45NzE5MDkxIEM0Ni4wODcyMzg2LDU2Ljk3MTkwOTEgNDguMDIyNjU5NSw1NS4zNDk5ODE4IDQ4LjUyODU3LDUyLjEzNTIgQzQ4Ljc1NjMzNjIsNTAuNzI5MzA5MSA0OC41Mzc3OTQyLDQ5LjYyNDU0NTUgNDcuODc5MDkzNSw0OC44NTExNjM2IEM0Ny4xNTQ4Nzc2LDQ4LjAwMDk2MzYgNDUuODcxNTM0OCw0Ny41NTE0IDQ0LjE2ODM3MzgsNDcuNTUxNCIgaWQ9IkZpbGwtMSIgZmlsbD0iIzBDOThENiI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTguNDQxODkzMzMsNTIuMzE2NDkwOSBDOC4xNjM3NDksNTQuMTQyODcyNyA2Ljc2NzgyMzk2LDU0LjE0Mjg3MjcgNS40MTc3ODMyOCw1NC4xNDI4NzI3IEw0LjY0OTgxMTY0LDU0LjE0Mjg3MjcgTDUuMTg4MzYxNSw1MC43MzI4NTQ1IEM1LjIyMTAwMDg5LDUwLjUyNjc0NTUgNS4zOTg4NjE4OSw1MC4zNzUgNS42MDc3MDY2Niw1MC4zNzUgTDUuOTU5ODgwOSw1MC4zNzUgQzYuODc4NzUwNTcsNTAuMzc1IDcuNzQ2NzY5MDIsNTAuMzc1IDguMTk0MjU5NzMsNTAuODk4MDcyNyBDOC40NjE5OTczLDUxLjIxMTI1NDUgOC41NDMxMjI3Myw1MS42NzUyMzY0IDguNDQxODkzMzMsNTIuMzE2NDkwOSBNNy44NTQzODQzOCw0Ny41NTE0IEwyLjc2Mjg3NjcxLDQ3LjU1MTQgQzIuNDE0NzIzMjYsNDcuNTUxNCAyLjExODM2NzEsNDcuODA0NTQ1NSAyLjA2NDIwNDY0LDQ4LjE0ODIxODIgTDAuMDA1MzIxNjM5LDYxLjE5NTAxODIgQy0wLjAzNTM1OTMzNDcsNjEuNDUyNDE4MiAwLjE2Mzc4ODIyMiw2MS42ODUyMzY0IDAuNDI0NDMwMjc1LDYxLjY4NTIzNjQgTDIuODU1NTkxNDksNjEuNjg1MjM2NCBDMy4yMDM1MDg0Miw2MS42ODUyMzY0IDMuNDk5ODY0NTgsNjEuNDMyMDkwOSAzLjU1NDI2MzU2LDYxLjA4ODQxODIgTDQuMTA5ODQyNjcsNTcuNTY4NzI3MyBDNC4xNjQwMDUxMyw1Ny4yMjUwNTQ1IDQuNDYwMzYxMjksNTYuOTcxOTA5MSA0LjgwODUxNDc0LDU2Ljk3MTkwOTEgTDYuNDE5NjcwNTEsNTYuOTcxOTA5MSBDOS43NzMyNDkxNSw1Ni45NzE5MDkxIDExLjcwODY3MDEsNTUuMzQ5OTgxOCAxMi4yMTQ1ODA2LDUyLjEzNTIgQzEyLjQ0MjM0NjgsNTAuNzI5MzA5MSAxMi4yMjM4MDQ4LDQ5LjYyNDU0NTUgMTEuNTY1MTA0MSw0OC44NTExNjM2IEMxMC44NDA4ODgyLDQ4LjAwMDk2MzYgOS41NTc1NDUzOCw0Ny41NTE0IDcuODU0Mzg0MzgsNDcuNTUxNCIgaWQ9IkZpbGwtMyIgZmlsbD0iIzFGM0E3MSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTE5LjY3NDQwNjgsNTcuMDAwMzQzNiBDMTkuNDM5MDcyMSw1OC4zOTI1MjU1IDE4LjMzMzExNzMsNTkuMzI2ODcwOSAxNi45MjI3NjQ3LDU5LjMyNjg3MDkgQzE2LjIxNTU3OCw1OS4zMjY4NzA5IDE1LjY0OTU5MjEsNTkuMDk5NzI1NSAxNS4yODU1OTIsNTguNjY5MzA3MyBDMTQuOTI0OTAzMiw1OC4yNDI2NzA5IDE0Ljc4OTE0MjIsNTcuNjM0NzQzNiAxNC45MDM2MTY2LDU2Ljk1ODAzNDUgQzE1LjEyMzEwNDcsNTUuNTc4MTQzNiAxNi4yNDY1NjE4LDU0LjYxMzU0MzYgMTcuNjM1NjI3OCw1NC42MTM1NDM2IEMxOC4zMjc5MTM5LDU0LjYxMzU0MzYgMTguODkwMTE1NSw1NC44NDMwNTI3IDE5LjI2MTIxMTEsNTUuMjc3NDg5MSBDMTkuNjM0NjcxOSw1NS43MTQ5OTgyIDE5Ljc4MTMxMjcsNTYuMzI2NzA3MyAxOS42NzQ0MDY4LDU3LjAwMDM0MzYgTTIzLjA3MjIxNDIsNTIuMjU3OTQzNiBMMjAuNjM0MTk0LDUyLjI1Nzk0MzYgQzIwLjQyNTM0OTIsNTIuMjU3OTQzNiAyMC4yNDc0ODgyLDUyLjQwOTkyNTUgMjAuMjE0ODQ4OCw1Mi42MTYwMzQ1IEwyMC4xMDc3MDY1LDUzLjI5NzQ3MDkgTDE5LjkzNzE3NzYsNTMuMDUwNzA3MyBDMTkuNDA5MjcxLDUyLjI4NDY1MjcgMTguMjMyNTk3NSw1Mi4wMjg5MDczIDE3LjA1NzU3OTYsNTIuMDI4OTA3MyBDMTQuMzY0MTIwNyw1Mi4wMjg5MDczIDEyLjA2MzI4MDUsNTQuMDY4NDg5MSAxMS42MTUzMTY3LDU2LjkyOTQzNDUgQzExLjM4MjM0NzIsNTguMzU2ODM0NSAxMS43MTMyMzQ5LDU5LjcyMDY1MjcgMTIuNTIyODMzNiw2MC42NzI3MjU1IEMxMy4yNjY5MTcsNjEuNTQ3MjcwOSAxNC4zMjg2NDMxLDYxLjkxMTI3MDkgMTUuNTkzNTM3NSw2MS45MTEyNzA5IEMxNy43NjQ1Mjk3LDYxLjkxMTI3MDkgMTguOTY4NjM5Myw2MC41MTc0MzQ1IDE4Ljk2ODYzOTMsNjAuNTE3NDM0NSBMMTguODU5ODQxMyw2MS4xOTQ4NTI3IEMxOC44MTkxNjAzLDYxLjQ1MjI1MjcgMTkuMDE4MzA3OSw2MS42ODUzMDczIDE5LjI3OTE4NjUsNjEuNjg1MzA3MyBMMjEuNDc0NTM5OSw2MS42ODUzMDczIEMyMS44MjI2OTM0LDYxLjY4NTMwNzMgMjIuMTE5MDQ5NSw2MS40MzIxNjE4IDIyLjE3MzIxMiw2MS4wODg3MjU1IEwyMy40OTEzMjI5LDUyLjc0ODE2MTggQzIzLjUzMjAwMzgsNTIuNDkwNzYxOCAyMy4zMzI4NTYzLDUyLjI1Nzk0MzYgMjMuMDcyMjE0Miw1Mi4yNTc5NDM2IiBpZD0iRmlsbC01IiBmaWxsPSIjMUYzQTcxIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNTUuOTg4NDQzNiw1Ny4wMDAzNDM2IEM1NS43NTI4NzIzLDU4LjM5MjUyNTUgNTQuNjQ3MTU0LDU5LjMyNjg3MDkgNTMuMjM2ODAxNCw1OS4zMjY4NzA5IEM1Mi41Mjk2MTQ3LDU5LjMyNjg3MDkgNTEuOTYzMzkyMyw1OS4wOTk3MjU1IDUxLjU5OTYyODcsNTguNjY5MzA3MyBDNTEuMjM4OTM5OSw1OC4yNDI2NzA5IDUxLjEwMzE3OSw1Ny42MzQ3NDM2IDUxLjIxNzY1MzMsNTYuOTU4MDM0NSBDNTEuNDM3MTQxNCw1NS41NzgxNDM2IDUyLjU2MDU5ODUsNTQuNjEzNTQzNiA1My45NDk2NjQ1LDU0LjYxMzU0MzYgQzU0LjY0MTk1MDYsNTQuNjEzNTQzNiA1NS4yMDQxNTIyLDU0Ljg0MzA1MjcgNTUuNTc1MDExMyw1NS4yNzc0ODkxIEM1NS45NDg0NzIxLDU1LjcxNDk5ODIgNTYuMDk1MzQ5NCw1Ni4zMjY3MDczIDU1Ljk4ODQ0MzYsNTcuMDAwMzQzNiBNNTkuMzg2MDE0NCw1Mi4yNTc5NDM2IEw1Ni45NDgyMzA3LDUyLjI1Nzk0MzYgQzU2LjczOTE0OTQsNTIuMjU3OTQzNiA1Ni41NjEyODg0LDUyLjQwOTkyNTUgNTYuNTI4ODg1Niw1Mi42MTYwMzQ1IEw1Ni40MjE3NDMyLDUzLjI5NzQ3MDkgTDU2LjI1MTIxNDMsNTMuMDUwNzA3MyBDNTUuNzIzMzA3Nyw1Mi4yODQ2NTI3IDU0LjU0NjYzNDIsNTIuMDI4OTA3MyA1My4zNzE2MTYzLDUyLjAyODkwNzMgQzUwLjY3ODE1NzQsNTIuMDI4OTA3MyA0OC4zNzczMTcyLDU0LjA2ODQ4OTEgNDcuOTI5MzUzNSw1Ni45Mjk0MzQ1IEM0Ny42OTYzODM5LDU4LjM1NjgzNDUgNDguMDI3MjcxNiw1OS43MjA2NTI3IDQ4LjgzNjg3MDMsNjAuNjcyNzI1NSBDNDkuNTgwOTUzNyw2MS41NDcyNzA5IDUwLjY0MjY3OTgsNjEuOTExMjcwOSA1MS45MDc1NzQzLDYxLjkxMTI3MDkgQzU0LjA3ODU2NjQsNjEuOTExMjcwOSA1NS4yODI2NzYsNjAuNTE3NDM0NSA1NS4yODI2NzYsNjAuNTE3NDM0NSBMNTUuMTczODc4LDYxLjE5NDg1MjcgQzU1LjEzMzE5Nyw2MS40NTIyNTI3IDU1LjMzMjEwODEsNjEuNjg1MzA3MyA1NS41OTMyMjMyLDYxLjY4NTMwNzMgTDU3Ljc4ODU3NjYsNjEuNjg1MzA3MyBDNTguMTM2NzMwMSw2MS42ODUzMDczIDU4LjQzMzA4NjIsNjEuNDMyMTYxOCA1OC40ODcyNDg3LDYxLjA4ODcyNTUgTDU5LjgwNTM1OTYsNTIuNzQ4MTYxOCBDNTkuODQ2MDQwNSw1Mi40OTA3NjE4IDU5LjY0Njg5Myw1Mi4yNTc5NDM2IDU5LjM4NjAxNDQsNTIuMjU3OTQzNiIgaWQ9IkZpbGwtNyIgZmlsbD0iIzBDOThENiI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTM2LjA1NzAxMzQsNTIuMjU4MDYxOCBMMzMuNjA2NDU3Nyw1Mi4yNTgwNjE4IEMzMy4zNzIwNjkxLDUyLjI1ODA2MTggMzMuMTUzMDU0MSw1Mi4zNzQzNTI3IDMzLjAyMTMxNCw1Mi41NjgxNzA5IEwyOS42NDEwMDg5LDU3LjU0MzM4OTEgTDI4LjIwODQyMzcsNTIuNzYyNDYxOCBDMjguMTE4NzgzNiw1Mi40NjMyMjU1IDI3Ljg0MzI0MSw1Mi4yNTgwNjE4IDI3LjUzMDgwMTYsNTIuMjU4MDYxOCBMMjUuMTIxODczLDUyLjI1ODA2MTggQzI0LjgzMDk1NjgsNTIuMjU4MDYxOCAyNC42MjYzNjkzLDUyLjU0NDA2MTggMjQuNzIwMjY2Nyw1Mi44MTkxODkxIEwyNy40MTg0NTU5LDYwLjczNDI5ODIgTDI0Ljg4MDM4ODksNjQuMzEyODQzNiBDMjQuNjgxMjQxMyw2NC41OTM2NDM2IDI0Ljg4MjI4MSw2NC45ODIyMjU1IDI1LjIyNjg4NjcsNjQuOTgyMjI1NSBMMjcuNjc0ODQwNyw2NC45ODIyMjU1IEMyNy45MDY4NjQxLDY0Ljk4MjIyNTUgMjguMTI0MjIzNSw2NC44Njg1MzQ1IDI4LjI1NjQzNjcsNjQuNjc4MDI1NSBMMzYuNDA1ODc2NCw1Mi45MjM4OTgyIEMzNi42MDEwMDMxLDUyLjY0MjYyNTUgMzYuMzk5NDkwNCw1Mi4yNTgwNjE4IDM2LjA1NzAxMzQsNTIuMjU4MDYxOCIgaWQ9IkZpbGwtOSIgZmlsbD0iIzFGM0E3MSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTEzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MC4wNzUzOTEsIDQ3LjQ5MTM2NCkiPgogICAgICAgICAgICAgICAgICAgIDxtYXNrIGlkPSJtYXNrLTIiIGZpbGw9IndoaXRlIj4KICAgICAgICAgICAgICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0xIj48L3VzZT4KICAgICAgICAgICAgICAgICAgICA8L21hc2s%2BCiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IkNsaXAtMTIiPjwvZz4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMi4xODQyODQ0NywwLjQxODQxMDkwOSBMMC4wOTQ2NTQyMTksMTMuNzAzOTM4MiBDMC4wNTQyMDk3NjI2LDEzLjk2MTMzODIgMC4yNTMxMjA4MDIsMTQuMTkzOTIgMC41MTM3NjI4NTUsMTQuMTkzOTIgTDIuNjE1NDU1NDgsMTQuMTkzOTIgQzIuOTYzNjA4OTMsMTQuMTkzOTIgMy4yNTk5NjUwOSwxMy45NDA3NzQ1IDMuMzE0MTI3NTUsMTMuNTk3MTAxOCBMNS4zNzQ2NjYxNywwLjU1MDMwMTgxOCBDNS40MTUzNDcxNSwwLjI5MjkwMTgxOCA1LjIxNjE5OTU5LDAuMDYwMDgzNjM2NCA0Ljk1NTMyMTAyLDAuMDYwMDgzNjM2NCBMMi42MDM2Mjk2MiwwLjA2MDA4MzYzNjQgQzIuMzk0NTQ4MzMsMC4wNjAwODM2MzY0IDIuMjE2Njg3MzMsMC4yMTIwNjU0NTUgMi4xODQyODQ0NywwLjQxODQxMDkwOSIgaWQ9IkZpbGwtMTEiIGZpbGw9IiMwQzk4RDYiIG1hc2s9InVybCgjbWFzay0yKSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTQ4LjYwMjQxMDcsMTAuOTYyMTIgQzQ5LjExNzc4MTksNy42NzgwODM2NCA0OC41OTg4NjI5LDUuNDQzNTAxODIgNDYuODIxNDM1NSwzLjQxOTUyIEM0NC44NjQ0OTE1LDEuMTkxMDgzNjQgNDEuMzI5MjY3NiwwLjIzNjQxMDkwOSAzNi44MDYxMTA5LDAuMjM2NDEwOTA5IEwyMy42NzY1NjMyLDAuMjM2NDEwOTA5IEMyMi43NTIwMTcxLDAuMjM2NDEwOTA5IDIxLjk2NDg4NzYsMC45MDgzOTI3MjcgMjEuODIwODQ4NSwxLjgyMDk5MjczIEwxNi4zNTM3NTE0LDM2LjQ2NzE3NDUgQzE2LjI0NTg5OTUsMzcuMTUwOTc0NSAxNi43NzQ1MTU3LDM3Ljc2OTA2NTUgMTcuNDY3MDM4MywzNy43NjkwNjU1IEwyNS41NzI0ODU4LDM3Ljc2OTA2NTUgTDI1LjAxMzEyMjQsNDEuMzE0NTIgQzI0LjkxODc1Miw0MS45MTI1MiAyNS4zODExNDMzLDQyLjQ1MzMyIDI1Ljk4NzEwMDYsNDIuNDUzMzIgTDMyLjgxOTEzOSw0Mi40NTMzMiBDMzMuNjI3NzkxNiw0Mi40NTMzMiAzNC4zMTYyOTM0LDQxLjg2NTI0NzMgMzQuNDQyMzU3MSw0MS4wNjY4MTA5IEwzNC41MDkyOTE1LDQwLjcyMDA2NTUgTDM1Ljc5NjQxODYsMzIuNTYzNjI5MSBMMzUuODc5NDM2MiwzMi4xMTMxMiBDMzYuMDA1MjYzNCwzMS4zMTQ2ODM2IDM2LjY5Mzc2NTIsMzAuNzI2ODQ3MyAzNy41MDI0MTc4LDMwLjcyNjg0NzMgTDM4LjUyNDQwOSwzMC43MjY4NDczIEM0NS4xNDMzNDU0LDMwLjcyNjg0NzMgNTAuMzI1OTEyMiwyOC4wMzkzOTI3IDUxLjg0MDMzMjQsMjAuMjY3NzU2NCBDNTIuNDczMDE2MSwxNy4wMjAxMiA1Mi4xNDU5MTI3LDE0LjMwOTUwMTggNTAuNDcyNTUyOSwxMi40MDM5MzgyIEM0OS45NjY0MDU5LDExLjgyNzQ0NzMgNDkuMzM2Nzk2OSwxMS4zNTA5MzgyIDQ4LjYwMjQxMDcsMTAuOTYyMTIiIGlkPSJGaWxsLTE0IiBmaWxsPSIjMEM5OEQ2Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNDguNjAyNDEwNywxMC45NjIxMiBDNDkuMTE3NzgxOSw3LjY3ODA4MzY0IDQ4LjU5ODg2MjksNS40NDM1MDE4MiA0Ni44MjE0MzU1LDMuNDE5NTIgQzQ0Ljg2NDQ5MTUsMS4xOTEwODM2NCA0MS4zMjkyNjc2LDAuMjM2NDEwOTA5IDM2LjgwNjExMDksMC4yMzY0MTA5MDkgTDIzLjY3NjU2MzIsMC4yMzY0MTA5MDkgQzIyLjc1MjAxNzEsMC4yMzY0MTA5MDkgMjEuOTY0ODg3NiwwLjkwODM5MjcyNyAyMS44MjA4NDg1LDEuODIwOTkyNzMgTDE2LjM1Mzc1MTQsMzYuNDY3MTc0NSBDMTYuMjQ1ODk5NSwzNy4xNTA5NzQ1IDE2Ljc3NDUxNTcsMzcuNzY5MDY1NSAxNy40NjcwMzgzLDM3Ljc2OTA2NTUgTDI1LjU3MjQ4NTgsMzcuNzY5MDY1NSBMMjcuNjA4NjYzMSwyNC44NjY0NDczIEwyNy41NDU1MTMsMjUuMjcwODY1NSBDMjcuNjg5NTUyLDI0LjM1ODUwMTggMjguNDcwMDU5MSwyMy42ODYyODM2IDI5LjM5NDM2ODYsMjMuNjg2MjgzNiBMMzMuMjQ2NzYyMiwyMy42ODYyODM2IEM0MC44MTI3MTM4LDIzLjY4NjI4MzYgNDYuNzM2OTk4OCwyMC42MTQ1MDE4IDQ4LjQ2ODA2ODksMTEuNzMwNTM4MiBDNDguNTE5MzkzMSwxMS40Njc0NjU1IDQ4LjU2MzE0ODgsMTEuMjEyNjY1NSA0OC42MDI0MTA3LDEwLjk2MjEyIiBpZD0iRmlsbC0xNiIgZmlsbD0iIzIzMkU1QyI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNi4zMTk2OTMsIDAuMjE4NjM2KSI%2BCiAgICAgICAgICAgICAgICAgICAgPG1hc2sgaWQ9Im1hc2stNCIgZmlsbD0id2hpdGUiPgogICAgICAgICAgICAgICAgICAgICAgICA8dXNlIHhsaW5rOmhyZWY9IiNwYXRoLTMiPjwvdXNlPgogICAgICAgICAgICAgICAgICAgIDwvbWFzaz4KICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iQ2xpcC0xOSI%2BPC9nPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMy40NzYyMTExLDEwLjc4NzA5MjcgQzEzLjU2Mjc3NjUsMTAuMjM4MjU2NCAxMy45MTU0MjM3LDkuNzg4NjkyNzMgMTQuMzg5ODc3NCw5LjU2MTMxMDkxIEMxNC42MDU4MTc3LDkuNDU4MjU2MzYgMTQuODQ2NTkyMyw5LjQwMDU4MzY0IDE1LjA5OTQyOTMsOS40MDA1ODM2NCBMMjUuMzkxMjQyNiw5LjQwMDU4MzY0IEMyNi42MTA3MjU3LDkuNDAwNTgzNjQgMjcuNzQ3NDI3OCw5LjQ4MDQ3NDU1IDI4Ljc4NjY4NDgsOS42NDc4MiBDMjkuMDgzNzUwNSw5LjY5NTU2NTQ1IDI5LjM3Mjc3NDYsOS43NTA0MDE4MiAyOS42NTM1MjA2LDkuODEyODAxODIgQzI5LjkzNDI2NjcsOS44NzQ5NjU0NSAzMC4yMDY3MzQ2LDkuOTQ0NDU2MzYgMzAuNDcwNjg3OSwxMC4wMjE3NDczIEMzMC42MDI2NjQ1LDEwLjA2MDI3NDUgMzAuNzMyMjc2LDEwLjEwMDY5MjcgMzAuODU5OTk1MywxMC4xNDMwMDE4IEMzMS4zNzAxNjMxLDEwLjMxMjIzODIgMzEuODQ1NTYyOSwxMC41MTE5NjU1IDMyLjI4MjY0NjgsMTAuNzQzNjAxOCBDMzIuNzk4MDE4LDcuNDU5NTY1NDUgMzIuMjc5MDk5MSw1LjIyNDc0NzI3IDMwLjUwMTkwODIsMy4yMDA3NjU0NSBDMjguNTQ0OTY0MSwwLjk3MjMyOTA5MSAyNS4wMDk1MDM3LDAuMDE3NjU2MzYzNiAyMC40ODYzNDcsMC4wMTc2NTYzNjM2IEw3LjM1Njc5OTMxLDAuMDE3NjU2MzYzNiBDNi40MzIyNTMyMywwLjAxNzY1NjM2MzYgNS42NDUzNjAyMSwwLjY4OTg3NDU0NSA1LjUwMTMyMTE4LDEuNjAyNDc0NTUgTDAuMDMzOTg3NTM0NCwzNi4yNDg2NTY0IEMtMC4wNzM4NjQzNDkzLDM2LjkzMjIyIDAuNDU0NzUxNzkxLDM3LjU1MDU0NzMgMS4xNDcyNzQ0MSwzNy41NTA1NDczIEw5LjI1Mjk1ODQyLDM3LjU1MDU0NzMgTDExLjI4ODg5OTIsMjQuNjQ3NjkyNyBMMTMuNDc2MjExMSwxMC43ODcwOTI3IFoiIGlkPSJGaWxsLTE4IiBmaWxsPSIjMjMzODc3IiBtYXNrPSJ1cmwoI21hc2stNCkiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc%2B);
  background-position: 50% 100px;
  background-size: 69px 65px;
  background-repeat: no-repeat;
}

/* line 62, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile--paypal:hover {
  box-shadow: 0 0 0 2px #38e4ae inset;
}

/* line 66, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile--bank {
  border: 1px solid #babec8;
  background-color: #f3f4f6;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjYwcHgiIGhlaWdodD0iNTlweCIgdmlld0JveD0iMCAwIDYwIDU5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzOS4xICgzMTcyMCkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0%2BCiAgICA8dGl0bGU%2BUGFnZSAxPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9IlBheW91dC1tZXRob2QiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJEZXNrdG9wLVBheW91dC1NZXRob2QiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03NjcuMDAwMDAwLCAtMzI2LjAwMDAwMCkiPgogICAgICAgICAgICA8ZyBpZD0iUGFnZS0xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjcuMDAwMDAwLCAzMjYuMDAwMDAwKSI%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNTcuMTgxOSw0NS4wMTMgTDU3LjE4MTksNTAuODY5IEM1Ny4xODE5LDU1LjAxNCA1My44MjE5LDU4LjM3NCA0OS42NzY5LDU4LjM3NCBMMC40OTk5LDU4LjM3NCBMMC40OTk5LDE3LjE4MyIgaWQ9IlN0cm9rZS0xIiBzdHJva2U9IiMxODI4NDkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTExLjgzODYsMjAuMzM0NCBMNDkuNjc3NiwyMC4zMzQ0IEM1My44MjE2LDIwLjMzNDQgNTcuMTgxNiwyMy42OTQ0IDU3LjE4MTYsMjcuODM5NCBMNTcuMTgxNiwzMy42OTU0IiBpZD0iU3Ryb2tlLTMiIHN0cm9rZT0iIzE4Mjg0OSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNDMuMjAyLDQ1LjAxMzQgTDU4LjkyNCw0NS4wMTM0IEw1OC45MjQsMzMuNjk1NCBMNDMuMjAyLDMzLjY5NTQgQzQwLjA3NywzMy42OTU0IDM3LjU0MywzNi4yMjg0IDM3LjU0MywzOS4zNTQ0IEwzNy41NDMsMzkuMzU0NCBDMzcuNTQzLDQyLjQ3OTQgNDAuMDc3LDQ1LjAxMzQgNDMuMjAyLDQ1LjAxMzQgTDQzLjIwMiw0NS4wMTM0IFoiIGlkPSJTdHJva2UtNSIgc3Ryb2tlPSIjMTgyODQ5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00My4yNTI4LDM5LjM1NDEgQzQzLjI1MjgsMzguNzQwMSA0My43NTA4LDM4LjI0MjEgNDQuMzY0OCwzOC4yNDIxIEM0NC45Nzg4LDM4LjI0MjEgNDUuNDc1OCwzOC43NDAxIDQ1LjQ3NTgsMzkuMzU0MSBDNDUuNDc1OCwzOS45NjgxIDQ0Ljk3ODgsNDAuNDY2MSA0NC4zNjQ4LDQwLjQ2NjEgQzQzLjc1MDgsNDAuNDY2MSA0My4yNTI4LDM5Ljk2ODEgNDMuMjUyOCwzOS4zNTQxIiBpZD0iRmlsbC03IiBmaWxsPSIjMTgyODQ5Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNDcuMzYyNCwyMC4zMzQ0IEwzLjY1MTQsMjAuMzM0NCBDMS45MTE0LDIwLjMzNDQgMC41MDA0LDE4LjkyMzQgMC41MDA0LDE3LjE4MjQgTDAuNTAwNCwxNy4xODI0IEMwLjUwMDQsMTUuNDQyNCAxLjkxMTQsMTQuMDMxNCAzLjY1MTQsMTQuMDMxNCBMMTguNzUyNCwxNC4wMzE0IiBpZD0iU3Ryb2tlLTkiIHN0cm9rZT0iIzE4Mjg0OSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTdHJva2UtMTEiIHN0cm9rZT0iIzE4Mjg0OSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgcG9pbnRzPSI5LjMyMDggMjAuMzM0NCAzOC45OTk4IDAuNTAwNCA1Mi4yMTc4IDIwLjc4NDQiPjwvcG9seWxpbmU%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMzkuMDc1NSw2Ljg5NjMgTDIzLjMzOTUsMTcuMTgyMyIgaWQ9IlN0cm9rZS0xMyIgc3Ryb2tlPSIjMTgyODQ5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00MS45NSwxMi41Mzk2IEwzNi41MywxNi4wODI2IiBpZD0iU3Ryb2tlLTE1IiBzdHJva2U9IiMxODI4NDkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI%2BPC9wYXRoPgogICAgICAgICAgICA8L2c%2BCiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4%3D);
  background-position: 50% 100px;
  background-size: 59px 59px;
  background-repeat: no-repeat;
}

/* line 75, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile--bank:hover {
  box-shadow: 0 0 0 2px #babec8 inset;
}

/* line 79, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile__text {
  max-width: 200px;
  margin-bottom: 120px;
  font-size: 20px;
}

/* line 85, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile__worth {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 600;
  color: #38e4ae;
}

/* line 92, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile__note {
  margin-bottom: 20px;
}

/* line 96, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout-tile__select-btn {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding: 0 20px;
}

@media (max-width: 768px) {
  /* line 104, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
  .payout-tile:first-child {
    margin-bottom: 20px;
  }
}
/* line 109, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.paypal-rendering-cont {
  width: 100%;
}

/* line 113, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 25px 15px 25px;
  margin-bottom: 30px;
  background-color: #ebfcf7;
  border: 1px solid #38e4ae;
  border-radius: 3px;
}

/* line 125, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__column {
  flex-shrink: 1;
  width: 33.333333%;
}

/* line 130, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__column-name {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #babec8;
}

/* line 137, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__info {
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
}

/* line 144, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__info--paypal {
  width: 108px;
  height: 29px;
  margin-top: -6px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjEwOHB4IiBoZWlnaHQ9IjI4cHgiIHZpZXdCb3g9IjAgMCAxMDggMjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI%2BCiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDM5LjEgKDMxNzIwKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5QYWdlIDE8L3RpdGxlPgogICAgPGRlc2M%2BQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M%2BCiAgICA8ZGVmcz4KICAgICAgICA8cG9seWdvbiBpZD0icGF0aC0xIiBwb2ludHM9IjIuNzEwNTA1NDNlLTIwIDAuNzY5NSAyLjcxMDUwNTQzZS0yMCAyNC45Nzg1IDIwLjkxODYxOTQgMjQuOTc4NSAyMC45MTg2MTk0IDAuNzY5NSAwIDAuNzY5NSI%2BPC9wb2x5Z29uPgogICAgICAgIDxwb2x5Z29uIGlkPSJwYXRoLTMiIHBvaW50cz0iMC41ODI1NzYwMzMgMjEgMTguMDc3MDk0MyAyMSAxOC4wNzcwOTQzIDAuNjg3NCAwLjU4MjU3NjAzMyAwLjY4NzQiPjwvcG9seWdvbj4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJQYXlvdXQtbWV0aG9kIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iRGVza3RvcC1QYXlvdXQtTWV0aG9kLVBheXBhbCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU1Ny4wMDAwMDAsIC0yNTcuMDAwMDAwKSI%2BCiAgICAgICAgICAgIDxnIGlkPSJQYWdlLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU1Ny4wMDAwMDAsIDI1Ni4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOS42NDg0LDMuMDUzMyBDMTguMzg3NCwxLjYxNjMgMTYuMTA4NCwxLjAwMDMgMTMuMTkyNCwxLjAwMDMgTDQuNzI5NCwxLjAwMDMgQzQuMTMzNCwxLjAwMDMgMy42MjY0LDEuNDM0MyAzLjUzMjQsMi4wMjIzIEwwLjAwOTQsMjQuMzcwMyBDLTAuMDYwNiwyNC44MTAzIDAuMjgwNCwyNS4yMTAzIDAuNzI3NCwyNS4yMTAzIEw1Ljk1MTQsMjUuMjEwMyBMNy4yNjM0LDE2Ljg4NzMgTDcuMjIzNCwxNy4xNDgzIEM3LjMxNjQsMTYuNTU5MyA3LjgxOTQsMTYuMTI1MyA4LjQxNTQsMTYuMTI1MyBMMTAuODk4NCwxNi4xMjUzIEMxNS43NzU0LDE2LjEyNTMgMTkuNTk0NCwxNC4xNDQzIDIwLjcwOTQsOC40MTQzIEMyMC43NDI0LDguMjQ0MyAyMC43NzE0LDguMDc5MyAyMC43OTY0LDcuOTE4MyBDMjAuNjU1NCw3Ljg0NDMgMjAuNjU1NCw3Ljg0NDMgMjAuNzk2NCw3LjkxODMgQzIxLjEyODQsNS44MDAzIDIwLjc5NDQsNC4zNTgzIDE5LjY0ODQsMy4wNTMzIiBpZD0iRmlsbC0xIiBmaWxsPSIjMDAzMDg3Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNODMuNjA3OSwxMy42ODc4IEM4My4yODg5LDE1Ljc4NDggODEuNjg2OSwxNS43ODQ4IDgwLjEzNzksMTUuNzg0OCBMNzkuMjU1OSwxNS43ODQ4IEw3OS44NzQ5LDExLjg2OTggQzc5LjkxMTksMTEuNjMyOCA4MC4xMTU5LDExLjQ1ODggODAuMzU0OSwxMS40NTg4IEw4MC43NTk5LDExLjQ1ODggQzgxLjgxMzksMTEuNDU4OCA4Mi44MDk5LDExLjQ1ODggODMuMzIzOSwxMi4wNTk4IEM4My42MzA5LDEyLjQxODggODMuNzIzOSwxMi45NTE4IDgzLjYwNzksMTMuNjg3OCBNODIuOTMzOSw4LjIxNTggTDc3LjA5MTksOC4yMTU4IEM3Ni42OTE5LDguMjE1OCA3Ni4zNTE5LDguNTA2OCA3Ni4yODk5LDguOTAxOCBMNzMuOTI2OSwyMy44ODE4IEM3My44ODA5LDI0LjE3NzggNzQuMTA5OSwyNC40NDQ4IDc0LjQwNzksMjQuNDQ0OCBMNzcuNDA1OSwyNC40NDQ4IEM3Ny42ODQ5LDI0LjQ0NDggNzcuOTIyOSwyNC4yNDE4IDc3Ljk2NjksMjMuOTY1OCBMNzguNjM2OSwxOS43MTc4IEM3OC42OTg5LDE5LjMyMzggNzkuMDM5OSwxOS4wMzI4IDc5LjQzODksMTkuMDMyOCBMODEuMjg2OSwxOS4wMzI4IEM4NS4xMzU5LDE5LjAzMjggODcuMzU2OSwxNy4xNzA4IDg3LjkzNjksMTMuNDc4OCBDODguMTk3OSwxMS44NjU4IDg3Ljk0NjksMTAuNTk2OCA4Ny4xOTE5LDkuNzA4OCBDODYuMzYwOSw4LjczMjggODQuODg3OSw4LjIxNTggODIuOTMzOSw4LjIxNTgiIGlkPSJGaWxsLTMiIGZpbGw9IiMwMDlDREUiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00MS45Mzg5LDEzLjY4NzggQzQxLjYxOTksMTUuNzg0OCA0MC4wMTc5LDE1Ljc4NDggMzguNDY4OSwxNS43ODQ4IEwzNy41ODc5LDE1Ljc4NDggTDM4LjIwNTksMTEuODY5OCBDMzguMjQyOSwxMS42MzI4IDM4LjQ0NjksMTEuNDU4OCAzOC42ODU5LDExLjQ1ODggTDM5LjA5MDksMTEuNDU4OCBDNDAuMTQ1OSwxMS40NTg4IDQxLjE0MDksMTEuNDU4OCA0MS42NTQ5LDEyLjA1OTggQzQxLjk2MTksMTIuNDE4OCA0Mi4wNTQ5LDEyLjk1MTggNDEuOTM4OSwxMy42ODc4IE00MS4yNjQ5LDguMjE1OCBMMzUuNDIyOSw4LjIxNTggQzM1LjAyMjksOC4yMTU4IDM0LjY4MjksOC41MDY4IDM0LjYyMDksOC45MDE4IEwzMi4yNTc5LDIzLjg4MTggQzMyLjIxMTksMjQuMTc3OCAzMi40Mzk5LDI0LjQ0NDggMzIuNzM4OSwyNC40NDQ4IEwzNS41Mjg5LDI0LjQ0NDggQzM1LjkyNzksMjQuNDQ0OCAzNi4yNjc5LDI0LjE1MzggMzYuMzI5OSwyMy43NTk4IEwzNi45Njc5LDE5LjcxNzggQzM3LjAyOTksMTkuMzIzOCAzNy4zNzA5LDE5LjAzMjggMzcuNzY5OSwxOS4wMzI4IEwzOS42MTc5LDE5LjAzMjggQzQzLjQ2NjksMTkuMDMyOCA0NS42ODc5LDE3LjE3MDggNDYuMjY3OSwxMy40Nzg4IEM0Ni41Mjg5LDExLjg2NTggNDYuMjc3OSwxMC41OTY4IDQ1LjUyMjksOS43MDg4IEM0NC42OTE5LDguNzMyOCA0My4yMTg5LDguMjE1OCA0MS4yNjQ5LDguMjE1OCIgaWQ9IkZpbGwtNSIgZmlsbD0iIzAwMzA4NyI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTU0LjgyNzgsMTkuMDY1OCBDNTQuNTU3OCwyMC42NjM4IDUzLjI4ODgsMjEuNzM3OCA1MS42Njk4LDIxLjczNzggQzUwLjg1ODgsMjEuNzM3OCA1MC4yMDg4LDIxLjQ3NTggNDkuNzkxOCwyMC45ODE4IEM0OS4zNzc4LDIwLjQ5MjggNDkuMjIxOCwxOS43OTM4IDQ5LjM1MjgsMTkuMDE3OCBDNDkuNjA0OCwxNy40MzI4IDUwLjg5NDgsMTYuMzI1OCA1Mi40ODc4LDE2LjMyNTggQzUzLjI4MjgsMTYuMzI1OCA1My45Mjc4LDE2LjU4ODggNTQuMzUyOCwxNy4wODc4IEM1NC43ODE4LDE3LjU4OTggNTQuOTUwOCwxOC4yOTE4IDU0LjgyNzgsMTkuMDY1OCBNNTguNzI2OCwxMy42MjA4IEw1NS45Mjg4LDEzLjYyMDggQzU1LjY4OTgsMTMuNjIwOCA1NS40ODU4LDEzLjc5NDggNTUuNDQ3OCwxNC4wMzE4IEw1NS4zMjQ4LDE0LjgxMzggTDU1LjEyOTgsMTQuNTMwOCBDNTQuNTIzOCwxMy42NTE4IDUzLjE3MjgsMTMuMzU2OCA1MS44MjQ4LDEzLjM1NjggQzQ4LjczMzgsMTMuMzU2OCA0Ni4wOTM4LDE1LjY5OTggNDUuNTc5OCwxOC45ODQ4IEM0NS4zMTI4LDIwLjYyMzggNDUuNjkyOCwyMi4xODk4IDQ2LjYyMTgsMjMuMjgyOCBDNDcuNDc1OCwyNC4yODY4IDQ4LjY5MzgsMjQuNzA0OCA1MC4xNDQ4LDI0LjcwNDggQzUyLjYzNjgsMjQuNzA0OCA1NC4wMTc4LDIzLjEwNDggNTQuMDE3OCwyMy4xMDQ4IEw1My44OTI4LDIzLjg4MTggQzUzLjg0NTgsMjQuMTc2OCA1NC4wNzQ4LDI0LjQ0NDggNTQuMzc0OCwyNC40NDQ4IEw1Ni44OTI4LDI0LjQ0NDggQzU3LjI5MjgsMjQuNDQ0OCA1Ny42MzI4LDI0LjE1NDggNTcuNjk1OCwyMy43NTk4IEw1OS4yMDc4LDE0LjE4MjggQzU5LjI1NDgsMTMuODg3OCA1OS4wMjU4LDEzLjYyMDggNTguNzI2OCwxMy42MjA4IiBpZD0iRmlsbC03IiBmaWxsPSIjMDAzMDg3Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNOTYuNDk2OSwxOS4wNjU4IEM5Ni4yMjY5LDIwLjY2MzggOTQuOTU3OSwyMS43Mzc4IDkzLjMzODksMjEuNzM3OCBDOTIuNTI3OSwyMS43Mzc4IDkxLjg3NzksMjEuNDc1OCA5MS40NjA5LDIwLjk4MTggQzkxLjA0NjksMjAuNDkyOCA5MC44OTA5LDE5Ljc5MzggOTEuMDIxOSwxOS4wMTc4IEM5MS4yNzM5LDE3LjQzMjggOTIuNTYzOSwxNi4zMjU4IDk0LjE1NjksMTYuMzI1OCBDOTQuOTUxOSwxNi4zMjU4IDk1LjU5NjksMTYuNTg4OCA5Ni4wMjE5LDE3LjA4NzggQzk2LjQ1MDksMTcuNTg5OCA5Ni42MTk5LDE4LjI5MTggOTYuNDk2OSwxOS4wNjU4IE0xMDAuMzk1OSwxMy42MjA4IEw5Ny41OTc5LDEzLjYyMDggQzk3LjM1ODksMTMuNjIwOCA5Ny4xNTQ5LDEzLjc5NDggOTcuMTE2OSwxNC4wMzE4IEw5Ni45OTM5LDE0LjgxMzggTDk2Ljc5NzksMTQuNTMwOCBDOTYuMTkyOSwxMy42NTE4IDk0Ljg0MTksMTMuMzU2OCA5My40OTM5LDEzLjM1NjggQzkwLjQwMjksMTMuMzU2OCA4Ny43NjI5LDE1LjY5OTggODcuMjQ4OSwxOC45ODQ4IEM4Ni45ODE5LDIwLjYyMzggODcuMzYxOSwyMi4xODk4IDg4LjI5MDksMjMuMjgyOCBDODkuMTQ0OSwyNC4yODY4IDkwLjM2MjksMjQuNzA0OCA5MS44MTM5LDI0LjcwNDggQzk0LjMwNTksMjQuNzA0OCA5NS42ODY5LDIzLjEwNDggOTUuNjg2OSwyMy4xMDQ4IEw5NS41NjE5LDIzLjg4MTggQzk1LjUxNTksMjQuMTc2OCA5NS43NDM5LDI0LjQ0NDggOTYuMDQzOSwyNC40NDQ4IEw5OC41NjE5LDI0LjQ0NDggQzk4Ljk2MTksMjQuNDQ0OCA5OS4zMDE5LDI0LjE1NDggOTkuMzY0OSwyMy43NTk4IEwxMDAuODc2OSwxNC4xODI4IEMxMDAuOTIzOSwxMy44ODc4IDEwMC42OTQ5LDEzLjYyMDggMTAwLjM5NTksMTMuNjIwOCIgaWQ9IkZpbGwtOSIgZmlsbD0iIzAwOUNERSI%2BPC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTczLjYyNjIsMTMuNjIwNyBMNzAuODE0MiwxMy42MjA3IEM3MC41NDUyLDEzLjYyMDcgNzAuMjk0MiwxMy43NTM3IDcwLjE0MzIsMTMuOTc2NyBMNjYuMjY0MiwxOS42ODk3IEw2NC42MjAyLDE0LjE5OTcgQzY0LjUxNzIsMTMuODU2NyA2NC4yMDEyLDEzLjYyMDcgNjMuODQyMiwxMy42MjA3IEw2MS4wNzkyLDEzLjYyMDcgQzYwLjc0NTIsMTMuNjIwNyA2MC41MTAyLDEzLjk0ODcgNjAuNjE4MiwxNC4yNjQ3IEw2My43MTMyLDIzLjM1MzcgTDYwLjgwMTIsMjcuNDYyNyBDNjAuNTczMiwyNy43ODQ3IDYwLjgwNDIsMjguMjMwNyA2MS4xOTkyLDI4LjIzMDcgTDY0LjAwODIsMjguMjMwNyBDNjQuMjc0MiwyOC4yMzA3IDY0LjUyMzIsMjguMTAwNyA2NC42NzUyLDI3Ljg4MTcgTDc0LjAyNjIsMTQuMzg1NyBDNzQuMjUwMiwxNC4wNjE3IDc0LjAxOTIsMTMuNjIwNyA3My42MjYyLDEzLjYyMDciIGlkPSJGaWxsLTExIiBmaWxsPSIjMDAzMDg3Ij48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTAzLjY5MjksOC42Mjc5IEwxMDEuMjk0OSwyMy44ODI5IEMxMDEuMjQ4OSwyNC4xNzc5IDEwMS40NzY5LDI0LjQ0NDkgMTAxLjc3NTksMjQuNDQ0OSBMMTA0LjE4NzksMjQuNDQ0OSBDMTA0LjU4NjksMjQuNDQ0OSAxMDQuOTI3OSwyNC4xNTQ5IDEwNC45ODg5LDIzLjc1OTkgTDEwNy4zNTM5LDguNzc4OSBDMTA3LjM5OTksOC40ODM5IDEwNy4xNzE5LDguMjE2OSAxMDYuODcxOSw4LjIxNjkgTDEwNC4xNzM5LDguMjE2OSBDMTAzLjkzMzksOC4yMTY5IDEwMy43Mjk5LDguMzkwOSAxMDMuNjkyOSw4LjYyNzkiIGlkPSJGaWxsLTEzIiBmaWxsPSIjMDA5Q0RFIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTkuNjQ4NCwzLjA1MzMgQzE4LjM4NzQsMS42MTYzIDE2LjEwODQsMS4wMDAzIDEzLjE5MjQsMS4wMDAzIEw0LjcyOTQsMS4wMDAzIEM0LjEzMzQsMS4wMDAzIDMuNjI2NCwxLjQzNDMgMy41MzI0LDIuMDIyMyBMMC4wMDk0LDI0LjM3MDMgQy0wLjA2MDYsMjQuODEwMyAwLjI4MDQsMjUuMjEwMyAwLjcyNzQsMjUuMjEwMyBMNS45NTE0LDI1LjIxMDMgTDcuMjYzNCwxNi44ODczIEw3LjIyMzQsMTcuMTQ4MyBDNy4zMTY0LDE2LjU1OTMgNy44MTk0LDE2LjEyNTMgOC40MTU0LDE2LjEyNTMgTDEwLjg5ODQsMTYuMTI1MyBDMTUuNzc1NCwxNi4xMjUzIDE5LjU5NDQsMTQuMTQ0MyAyMC43MDk0LDguNDE0MyBDMjAuNzQyNCw4LjI0NDMgMjAuNzcxNCw4LjA3OTMgMjAuNzk2NCw3LjkxODMgQzIwLjY1NTQsNy44NDQzIDIwLjY1NTQsNy44NDQzIDIwLjc5NjQsNy45MTgzIEMyMS4xMjg0LDUuODAwMyAyMC43OTQ0LDQuMzU4MyAxOS42NDg0LDMuMDUzMyIgaWQ9IkZpbGwtMTUiIGZpbGw9IiMwMDMwODciPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0xOSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDAuMjMxMTAwKSI%2BCiAgICAgICAgICAgICAgICAgICAgPG1hc2sgaWQ9Im1hc2stMiIgZmlsbD0id2hpdGUiPgogICAgICAgICAgICAgICAgICAgICAgICA8dXNlIHhsaW5rOmhyZWY9IiNwYXRoLTEiPjwvdXNlPgogICAgICAgICAgICAgICAgICAgIDwvbWFzaz4KICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iQ2xpcC0xOCI%2BPC9nPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik04LjY3MzgsNy43MTU1IEM4LjcyOTgsNy4zNjE1IDguOTU2OCw3LjA3MTUgOS4yNjI4LDYuOTI0NSBDOS40MDE4LDYuODU4NSA5LjU1NzgsNi44MjE1IDkuNzE5OCw2LjgyMTUgTDE2LjM1NDgsNi44MjE1IEMxNy4xMzk4LDYuODIxNSAxNy44NzI4LDYuODcyNSAxOC41NDI4LDYuOTgwNSBDMTguNzM0OCw3LjAxMTUgMTguOTIwOCw3LjA0NjUgMTkuMTAxOCw3LjA4NzUgQzE5LjI4MjgsNy4xMjc1IDE5LjQ1NzgsNy4xNzI1IDE5LjYyNzgsNy4yMjI1IEMxOS43MTI4LDcuMjQ2NSAxOS43OTY4LDcuMjcyNSAxOS44Nzg4LDcuMjk5NSBDMjAuMjA3OCw3LjQwOTUgMjAuNTE0OCw3LjUzNzUgMjAuNzk2OCw3LjY4NzUgQzIxLjEyODgsNS41Njg1IDIwLjc5MzgsNC4xMjc1IDE5LjY0ODgsMi44MjI1IEMxOC4zODY4LDEuMzg1NSAxNi4xMDc4LDAuNzY5NSAxMy4xOTI4LDAuNzY5NSBMNC43Mjg4LDAuNzY5NSBDNC4xMzI4LDAuNzY5NSAzLjYyNTgsMS4yMDM1IDMuNTMyOCwxLjc5MTUgTDAuMDA4OCwyNC4xMzg1IEMtMC4wNjEyLDI0LjU3OTUgMC4yODA4LDI0Ljk3ODUgMC43MjY4LDI0Ljk3ODUgTDUuOTUxOCwyNC45Nzg1IEw3LjI2MzgsMTYuNjU1NSBMOC42NzM4LDcuNzE1NSBaIiBpZD0iRmlsbC0xNyIgZmlsbD0iIzAwMzA4NyIgbWFzaz0idXJsKCNtYXNrLTIpIj48L3BhdGg%2BCiAgICAgICAgICAgICAgICA8L2c%2BCiAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtMjIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUuMDAwMDAwLCA3LjIzMTEwMCkiPgogICAgICAgICAgICAgICAgICAgIDxtYXNrIGlkPSJtYXNrLTQiIGZpbGw9IndoaXRlIj4KICAgICAgICAgICAgICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0zIj48L3VzZT4KICAgICAgICAgICAgICAgICAgICA8L21hc2s%2BCiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IkNsaXAtMjEiPjwvZz4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTUuNzk2NSwwLjY4NzQgTDE1Ljc5NjUsMC42ODc0IEMxNS43NzA1LDAuODQ5NCAxNS43NDI1LDEuMDEzNCAxNS43MDk1LDEuMTgzNCBDMTQuNTk0NSw2LjkxMzQgMTAuNzc1NSw4Ljg5NDQgNS44OTg1LDguODk0NCBMMy40MTQ1LDguODk0NCBDMi44MTg1LDguODk0NCAyLjMxNTUsOS4zMjg0IDIuMjIzNSw5LjkxNjQgTDAuOTUxNSwxNy45Nzg0IEwwLjU5MDUsMjAuMjY0NCBDMC41Mjk1LDIwLjY1MDQgMC44Mjg1LDIxLjAwMDQgMS4yMTg1LDIxLjAwMDQgTDUuNjIyNSwyMS4wMDA0IEM2LjE0MzUsMjEuMDAwNCA2LjU4NzUsMjAuNjIwNCA2LjY2ODUsMjAuMTA2NCBMNi43MTE1LDE5Ljg4MTQgTDcuNTQxNSwxNC42MjA0IEw3LjU5NTUsMTQuMzMwNCBDNy42NzY1LDEzLjgxNTQgOC4xMjA1LDEzLjQzNjQgOC42NDE1LDEzLjQzNjQgTDkuMzAwNSwxMy40MzY0IEMxMy41NjY1LDEzLjQzNjQgMTYuOTA3NSwxMS43MDI0IDE3Ljg4MzUsNi42OTA0IEMxOC4yOTE1LDQuNTk1NCAxOC4wODA1LDIuODQ2NCAxNy4wMDI1LDEuNjE3NCBDMTYuNjc1NSwxLjI0NTQgMTYuMjY5NSwwLjkzODQgMTUuNzk2NSwwLjY4NzQiIGlkPSJGaWxsLTIwIiBmaWxsPSIjMDA5Q0RFIiBtYXNrPSJ1cmwoI21hc2stNCkiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOS42Mjg1LDcuNDUyOSBDMTkuNDU4NSw3LjQwMjkgMTkuMjgyNSw3LjM1NzkgMTkuMTAxNSw3LjMxNzkgQzE4LjkyMTUsNy4yNzc5IDE4LjczNDUsNy4yNDI5IDE4LjU0MzUsNy4yMTE5IEMxNy44NzI1LDcuMTAyOSAxNy4xNDA1LDcuMDUxOSAxNi4zNTQ1LDcuMDUxOSBMOS43MjA1LDcuMDUxOSBDOS41NTY1LDcuMDUxOSA5LjQwMTUsNy4wODg5IDkuMjYzNSw3LjE1NTkgQzguOTU2NSw3LjMwMjkgOC43Mjk1LDcuNTkxOSA4LjY3NDUsNy45NDY5IEw3LjI2NDUsMTYuODg2OSBMNy4yMjM1LDE3LjE0NzkgQzcuMzE2NSwxNi41NTk5IDcuODE5NSwxNi4xMjU5IDguNDE0NSwxNi4xMjU5IEwxMC44OTg1LDE2LjEyNTkgQzE1Ljc3NTUsMTYuMTI1OSAxOS41OTQ1LDE0LjE0NDkgMjAuNzEwNSw4LjQxMzkgQzIwLjc0MzUsOC4yNDQ5IDIwLjc3MTUsOC4wNzk5IDIwLjc5NjUsNy45MTg5IEMyMC41MTQ1LDcuNzY4OSAyMC4yMDg1LDcuNjQwOSAxOS44Nzk1LDcuNTMwOSBDMTkuNzk3NSw3LjUwMzkgMTkuNzEzNSw3LjQ3NzkgMTkuNjI4NSw3LjQ1MjkiIGlkPSJGaWxsLTIzIiBmaWxsPSIjMDEyMTY5Ij48L3BhdGg%2BCiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D);
  background-position: 50% 50%;
  background-size: 108px 29px;
  background-repeat: no-repeat;
}

/* line 154, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__delete-btn {
  position: absolute;
  right: 0;
  bottom: -25px;
  font-size: 16px;
}

/* line 161, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.one-payout__default-btn {
  position: relative;
  bottom: -17px;
  left: -25px;
  display: block;
  width: 50%;
  margin-bottom: -30px;
  font-size: 16px;
}

@media (max-width: 768px) {
  /* line 172, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
  .one-payout__column {
    width: 100%;
  }

  /* line 176, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
  .one-payout__column:not(:last-of-type) {
    padding-bottom: 20px;
  }

  /* line 180, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
  .one-payout__column-name {
    margin-bottom: 0;
  }
}
/* line 185, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 195, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__title {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 0 5px;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

/* line 205, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
}

/* line 213, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__icon {
  margin-top: 20px;
}

/* line 217, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__form-cont {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* line 224, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__details-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 25px 0 20px 0;
  background-color: #f3f4f6;
}

/* line 233, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__details-row-name,
.add-payout__details-text {
  margin-bottom: 10px;
}

/* line 238, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__details-row-name {
  flex-basis: 20%;
  flex-shrink: 0;
  padding-right: 5px;
}

/* line 244, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__details-text {
  flex-basis: 80%;
}

/* line 248, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__fieldset {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border: 2px solid #f3f4f6;
}

/* line 255, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__fieldset--with-tooltips {
  padding-left: 46px;
}

/* line 259, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__fieldset--padding-bottom {
  padding-bottom: 25px;
}

/* line 263, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__legend {
  display: block;
  width: calc(100% + 44px);
  padding: 10px;
  margin-bottom: 25px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #f3f4f6;
  font-size: 14px;
  text-align: center;
  border: 0;
}

/* line 276, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__fieldset--with-tooltips .add-payout__legend {
  width: calc(100% + 70px);
}

/* line 280, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__country-select {
  margin-bottom: 20px;
}

/* line 284, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__btns-cont {
  display: flex;
}

/* line 288, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__action-btn {
  display: inline-block;
  width: auto;
  padding: 0 30px;
}

/* line 294, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__textfiled-tooltip {
  position: absolute;
  left: -30px;
  top: 13px;
}

/* line 300, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-payout__action-btn:first-of-type {
  margin-right: 20px;
}

/* line 304, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-more-payout__cont {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

/* line 311, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.add-more-payout__btn {
  display: inline-block;
  width: auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  /* line 318, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
  .add-more-payout__cont {
    margin-top: 40px;
  }
}
/* line 323, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__modal-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 290px;
  text-align: center;
  background-color: #ffffff;
  color: #182849;
}

/* line 333, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__modal-text {
  align-self: center;
  display: block;
  width: 100%;
  max-width: 450px;
  margin-bottom: 0;
  padding-top: 40px;
  font-size: 25px;
  font-weight: lighter;
}

/* line 344, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__modal-btns-cont {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
}

/* line 351, /home/max/Projects/mvp-skiwo/app/assets/stylesheets/styles/pages/payouts/payout_methods.scss */
.payout__modal-btn {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  margin-left: 20px;
  margin-bottom: 0;
}
